<template>
  <v-container>
    <v-content>
      <v-row justify-sm="center" class="anchors" :class="{'ml-1': $vuetify.breakpoint.smAndDown}">
        <a class="title ma-1 button" href="#browse-FA">A</a>

        <a class="title ma-1 button" href="#browse-FB">B</a>

        <a class="title ma-1 button" href="#browse-FC">C</a>

        <a class="title ma-1 button" href="#browse-FD">D</a>

        <a class="title ma-1 button" href="#browse-FE">E</a>

        <a class="title ma-1 button" href="#browse-FF">F</a>

        <a class="title ma-1 button" href="#browse-FG">G</a>

        <a class="title ma-1 button" href="#browse-FH">H</a>

        <a class="title ma-1 button" href="#browse-FI">I</a>

        <a class="title ma-1 button" href="#browse-FJ">J</a>

        <a class="title ma-1 button" href="#browse-FL">L</a>

        <a class="title ma-1 button" href="#browse-FM">M</a>

        <a class="title ma-1 button" href="#browse-FN">N</a>

        <a class="title ma-1 button" href="#browse-FO">O</a>

        <a class="title ma-1 button" href="#browse-FP">P</a>

        <a class="title ma-1 button" href="#browse-FR">R</a>

        <a class="title ma-1 button" href="#browse-FS">S</a>

        <a class="title ma-1 button" href="#browse-FT">T</a>

        <a class="title ma-1 button" href="#browse-FU">U</a>

        <a class="title ma-1 button" href="#browse-FV">V</a>

        <a class="title ma-1 button" href="#browse-FW">W</a>

        <a class="title ma-1 button" href="#browse-FX">X</a>

        <a class="title ma-1 button" href="#browse-FY">Y</a>

        <a class="title ma-1 button" href="#browse-FZ">Z</a>
      </v-row>
      <v-row justify-sm="center" class="fill-width">
        <v-col cols="11" lg="8" offset-lg="2" md="10" offset="1" class="text-justify text-center mt-5">
          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">A</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FA"></span>
          <v-row class="browse-links mb-4">
            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Acanthaceae'}}">Acanthaceae</router-link>
            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Acoraceae'}}">Acoraceae</router-link>
            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Adoxaceae'}}">Adoxaceae</router-link>
            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Agavaceae'}}">Agavaceae</router-link>
            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Alismataceae'}}">Alismataceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Alliaceae'}}">Alliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Altingiaceae'}}">Altingiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Amaranthaceae'}}">Amaranthaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Amaryllidaceae'}}">Amaryllidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Anacardiaceae'}}">Anacardiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Annonaceae'}}">Annonaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Apiaceae'}}">Apiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Apocynaceae'}}">Apocynaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Aquifoliaceae'}}">Aquifoliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Araceae'}}">Araceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Araliaceae'}}">Araliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Aristolochiaceae'}}">Aristolochiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Asparagaceae'}}">Asparagaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Aspleniaceae'}}">Aspleniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Asteraceae'}}">Asteraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Athyriaceae'}}">Athyriaceae</router-link>
          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">B</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FB"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Balsaminaceae'}}">Balsaminaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Berberidaceae'}}">Berberidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Betulaceae'}}">Betulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Bignoniaceae'}}">Bignoniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Blechnaceae'}}">Blechnaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Boraginaceae'}}">Boraginaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Brassicaceae'}}">Brassicaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Butomaceae'}}">Butomaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Buxaceae'}}">Buxaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">C</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FC"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cabombaceae'}}">Cabombaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cactaceae'}}">Cactaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Campanulaceae'}}">Campanulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cannabaceae'}}">Cannabaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Caprifoliaceae'}}">Caprifoliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Caryophyllaceae'}}">Caryophyllaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Celastraceae'}}">Celastraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Ceratophyllaceae'}}">Ceratophyllaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cistaceae'}}">Cistaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cleomaceae'}}">Cleomaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Colchicaceae'}}">Colchicaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Commelinaceae'}}">Commelinaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Convallariaceae'}}">Convallariaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Convolvulaceae'}}">Convolvulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cornaceae'}}">Cornaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Crassulaceae'}}">Crassulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cucurbitaceae'}}">Cucurbitaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cupressaceae'}}">Cupressaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cyperaceae'}}">Cyperaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Cystopteridaceae'}}">Cystopteridaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">D</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FD"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Dennstaedtiaceae'}}">Dennstaedtiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Diervillaceae'}}">Diervillaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Dioscoreaceae'}}">Dioscoreaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Diplaziopsidaceae'}}">Diplaziopsidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Dipsacaceae'}}">Dipsacaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Droseraceae'}}">Droseraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Dryopteridaceae'}}">Dryopteridaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">E</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FE"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Elaeagnaceae'}}">Elaeagnaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Elatinaceae'}}">Elatinaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Equisetaceae'}}">Equisetaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Ericaceae'}}">Ericaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Eriocaulaceae'}}">Eriocaulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Euphorbiaceae'}}">Euphorbiaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">F</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FF"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Fabaceae'}}">Fabaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Fagaceae'}}">Fagaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">G</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FG"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Gentianaceae'}}">Gentianaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Geraniaceae'}}">Geraniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Grossulariaceae'}}">Grossulariaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">H</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FH"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Haloragaceae'}}">Haloragaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hamamelidaceae'}}">Hamamelidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hemerocallidaceae'}}">Hemerocallidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hostaceae'}}">Hostaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hyacinthaceae'}}">Hyacinthaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hydrangeaceae'}}">Hydrangeaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hydrocharitaceae'}}">Hydrocharitaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hypericaceae'}}">Hypericaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Hypoxidaceae'}}">Hypoxidaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">I</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FI"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Iridaceae'}}">Iridaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Isoetaceae'}}">Isoetaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">J</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FJ"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Juglandaceae'}}">Juglandaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Juncaceae'}}">Juncaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Juncaginaceae'}}">Juncaginaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">L</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FL"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lamiaceae'}}">Lamiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lardizabalaceae'}}">Lardizabalaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lauraceae'}}">Lauraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lentibulariaceae'}}">Lentibulariaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Liliaceae'}}">Liliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Limnanthaceae'}}">Limnanthaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Linaceae'}}">Linaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Linderniaceae'}}">Linderniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Linnaeaceae'}}">Linnaeaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lycopodiaceae'}}">Lycopodiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lygodiaceae'}}">Lygodiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Lythraceae'}}">Lythraceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">M</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FM"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Magnoliaceae'}}">Magnoliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Malvaceae'}}">Malvaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Marsileaceae'}}">Marsileaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Martyniaceae'}}">Martyniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Melanthiaceae'}}">Melanthiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Melastomataceae'}}">Melastomataceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Menispermaceae'}}">Menispermaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Menyanthaceae'}}">Menyanthaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Molluginaceae'}}">Molluginaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Montiaceae'}}">Montiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Moraceae'}}">Moraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Myricaceae'}}">Myricaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Myrsinaceae'}}">Myrsinaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">N</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FN"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Nelumbonaceae'}}">Nelumbonaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Nyctaginaceae'}}">Nyctaginaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Nymphaeaceae'}}">Nymphaeaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Nyssaceae'}}">Nyssaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">O</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FO"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Oleaceae'}}">Oleaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Onagraceae'}}">Onagraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Onocleaceae'}}">Onocleaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Ophioglossaceae'}}">Ophioglossaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Orchidaceae'}}">Orchidaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Orobanchaceae'}}">Orobanchaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Osmundaceae'}}">Osmundaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Oxalidaceae'}}">Oxalidaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">P</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FP"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Papaveraceae'}}">Papaveraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Parnassiaceae'}}">Parnassiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Penthoraceae'}}">Penthoraceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Phrymaceae'}}">Phrymaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Phytolaccaceae'}}">Phytolaccaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Pinaceae'}}">Pinaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Plantaginaceae'}}">Plantaginaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Platanaceae'}}">Platanaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Plumbaginaceae'}}">Plumbaginaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Poaceae'}}">Poaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Polemoniaceae'}}">Polemoniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Polygalaceae'}}">Polygalaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Polygonaceae'}}">Polygonaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Polypodiaceae'}}">Polypodiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Pontederiaceae'}}">Pontederiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Portulacaceae'}}">Portulacaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Potamogetonaceae'}}">Potamogetonaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Primulaceae'}}">Primulaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Pteridaceae'}}">Pteridaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">R</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FR"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Ranunculaceae'}}">Ranunculaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Resedaceae'}}">Resedaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Rhamnaceae'}}">Rhamnaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Rosaceae'}}">Rosaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Rubiaceae'}}">Rubiaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Rutaceae'}}">Rutaceae</router-link>


          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">S</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FS"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Salicaceae'}}">Salicaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Salviniaceae'}}">Salviniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Santalaceae'}}">Santalaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Sapindaceae'}}">Sapindaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Sarraceniaceae'}}">Sarraceniaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Saururaceae'}}">Saururaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Saxifragaceae'}}">Saxifragaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Scheuchzeriaceae'}}">Scheuchzeriaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Scrophulariaceae'}}">Scrophulariaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Selaginellaceae'}}">Selaginellaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Simaroubaceae'}}">Simaroubaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Smilacaceae'}}">Smilacaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Solanaceae'}}">Solanaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Staphyleaceae'}}">Staphyleaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Styracaceae'}}">Styracaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">T</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FT"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Tamaricaceae'}}">Tamaricaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Taxaceae'}}">Taxaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Thelypteridaceae'}}">Thelypteridaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Theophrastaceae'}}">Theophrastaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Thymelaeaceae'}}">Thymelaeaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Trilliaceae'}}">Trilliaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Typhaceae'}}">Typhaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">U</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FU"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Ulmaceae'}}">Ulmaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Urticaceae'}}">Urticaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">V</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FV"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Valerianaceae'}}">Valerianaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Verbenaceae'}}">Verbenaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Violaceae'}}">Violaceae</router-link>

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Vitaceae'}}">Vitaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">W</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FW"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Woodsiaceae'}}">Woodsiaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">X</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FX"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Xyridaceae'}}">Xyridaceae</router-link>

          </v-row>
          <p>&nbsp;</p>

          <p :class="{'headline': $vuetify.breakpoint.lgAndUp, 'title': $vuetify.breakpoint.mdAndDown}">Z</p>
          <v-divider class="mb-3"></v-divider>
          <span class="anchor" id="browse-FZ"></span>
          <v-row class="browse-links mb-4">

            <router-link class="browse" :to="{ name: 'family', params: {family_name: 'Zygophyllaceae'}}">Zygophyllaceae</router-link>

          </v-row>
        </v-col>
      </v-row>
  </v-content>
</v-container>

</template>

<script>
export default {
  name: 'BrowseFamily',
  props: {
    // eslint-disable-next-line vue/require-prop-type-constructor
    family_name: '',
  },
};
</script>

<style scoped>
.title:hover{
  font-weight: bold;
}
.browse{
  padding: 0.5em;
}

.browse:hover{
  font-weight: bold;
}
.anchors {
  display: flex;
  max-width: 100%;
}

.anchor {
  margin-top: -175px;
  padding-bottom: 175px;
  display: inline-block;
}

.browse-links{
  white-space: pre-line;
  display: flex;
  overflow-wrap: break-word;
}


</style>
