<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-12">
      <!-- Margin top -->
    </v-row>
    <v-row class="mt-12">
      <!-- Margin top -->
    </v-row>
    <v-row class="mt-4">
      <!-- Margin top -->
    </v-row>
    <v-row class="mt-8">
      <v-col lg="3" md="1" cols="1" class="mt-12">
        <NavDrawer />
      </v-col>
    </v-row>
    <v-content class="mt-12">
      <v-row justify="center">
        <v-item-group id="browse-buttons">
          <v-btn-toggle v-model="toggle" mandatory>
            <v-btn rounded color="primary" class="white--text" >Browse by Family</v-btn>
            <v-btn rounded color="primary" class="white--text">Browse by Genus</v-btn>
          </v-btn-toggle>
        </v-item-group>
      </v-row>
      <v-row>
        <v-col cols="12" lg="10" offset-lg="1">
          <BrowseFamily v-if="toggle===0" class="mt-5" />
          <BrowseGenus v-else class="mt-5" />
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import BrowseFamily from '@/views/browse/BrowseFamily.vue';
import BrowseGenus from '@/views/browse/BrowseGenus.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheBrowser',
  components: {
    NavTop,
    NavDrawer,
    BrowseFamily,
    BrowseGenus,
    TheFooter,
  },
  props: {
    // eslint-disable-next-line vue/require-prop-type-constructor
    family_name: '',
  },
  data() {
    return {
      toggle: 0,
    };
  },
};
</script>

<style>

  #browse-buttons{
    z-index: 1;
  }

  .v-btn-toggle > .v-btn.v-btn--active{
    background-color: #001426 !important;
  }


</style>
