<template>
  <v-container>
    <v-col class="mb-5" cols="1" sm="2" >
      <NavTop />
    </v-col>
    <v-container class="mt-5 text-justify" >
      <v-row class="mt-5" >
        <v-col class="mt-5" cols="10" offset="1" md="10" lg="8" offset-lg="3" >
          EDITOR HERE
        </v-col>
      </v-row>
      <NavDrawer />
    </v-container>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'EditFamily',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
