<template>
  <v-app id="app">
    <keep-alive>
      <router-view v-if="$route.meta.keepAlive" />  <!-- This caches search results -->
    </keep-alive>
    <router-view v-if="!$route.meta.keepAlive"></router-view>
  </v-app>
</template>

<script>
export default {
  name: 'App',
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #001A32;
}

  .view-enter-active, .view-leave-active {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease;
  }

  .view-enter-active {
    transition-delay: 0.5s;
  }

  .view-enter, .view-leave-to {
    opacity: 0;
  }

  .view-enter-to, .view-leave {
    opacity: 1;
  }

</style>
