<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-content class="mt-12">
      <v-row class="mt-12"></v-row>
      <v-row class="mt-12">
        <v-col class="mt-12 text-left" cols="11" offset="1" md="10" lg="8" offset-lg="3">
          <p :class="{'headline': $vuetify.breakpoint.mdAndUp, 'title': $vuetify.breakpoint.smAndDown}">Genera in <em>Michigan Flora</em> whose family assignments are here changed</p>
          <v-divider class="mb-4"></v-divider>
          <v-row>
            <v-col>
              <table>
                <tbody>
                  <tr>
                    <td><strong>GENUS</strong></td>
                    <td><strong>FAMILY </strong></td>
                    <td><strong>NEW FAMILY</strong></td>
                  </tr>
                  <tr>
                    <td>Acer</td>
                    <td>Aceraceae</td>
                    <td>Sapindaceae</td>
                  </tr>
                  <tr>
                    <td>Acorus</td>
                    <td>Araceae</td>
                    <td>Acoraceae</td>
                  </tr>
                  <tr>
                    <td>Adlumia</td>
                    <td>Fumariaceae</td>
                    <td>Papaveraceae</td>
                  </tr>
                  <tr>
                    <td>Aesculus</td>
                    <td>Hippocastanaceae</td>
                    <td>Sapindaceae</td>
                  </tr>
                  <tr>
                    <td>Agalinis (incl. Tomanthera)</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Aletris</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Allium</td>
                    <td>Liliaceae</td>
                    <td>Alliaceae</td>
                  </tr>
                  <tr>
                    <td>Anagallis</td>
                    <td>Primulaceae</td>
                    <td>Myrsinaceae</td>
                  </tr>
                  <tr>
                    <td>Anticlea (see Zigadenus)</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Antirrhinum</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Arceuthobium</td>
                    <td>Viscaceae</td>
                    <td>Santalaceae</td>
                  </tr>
                  <tr>
                    <td>Asclepias</td>
                    <td>Asclepiadaceae</td>
                    <td>Apocynaceae</td>
                  </tr>
                  <tr>
                    <td>Asparagus</td>
                    <td>Liliaceae</td>
                    <td>Asparagaceae</td>
                  </tr>
                  <tr>
                    <td>Atriplex</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Aureolaria</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Besseya</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Beta</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Brasenia</td>
                    <td>Nymphaeaceae</td>
                    <td>Cabombaceae</td>
                  </tr>
                  <tr>
                    <td>Buchnera</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Buddleja</td>
                    <td>Buddlejaceae</td>
                    <td>Scrophulariaceae</td>
                  </tr>
                  <tr>
                    <td>Cabomba</td>
                    <td>Nymphaeaceae</td>
                    <td>Cabombaceae</td>
                  </tr>
                  <tr>
                    <td>Callitriche</td>
                    <td>Callitrichaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Camassia</td>
                    <td>Liliaceae</td>
                    <td>Hyacinthaceae</td>
                  </tr>
                  <tr>
                    <td>Castilleja</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Celtis</td>
                    <td>Ulmaceae</td>
                    <td>Cannabaceae</td>
                  </tr>
                  <tr>
                    <td>Chaenorrhinum</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Chamaelirium</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Chelone</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Chenopodium</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Chimaphila</td>
                    <td>Pyrolaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Claytonia</td>
                    <td>Portulacaceae</td>
                    <td>Montiaceae</td>
                  </tr>
                  <tr>
                    <td>Cleome</td>
                    <td>Capparaceae</td>
                    <td>Cleomaceae</td>
                  </tr>
                  <tr>
                    <td>Clintonia</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Collinsia</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Convallaria</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Corispermum</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Corydalis</td>
                    <td>Fumariaceae</td>
                    <td>Papaveraceae</td>
                  </tr>
                  <tr>
                    <td>Cuscuta</td>
                    <td>Cuscutaceae</td>
                    <td>Convolvulaceae</td>
                  </tr>
                  <tr>
                    <td>Cycloloma</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Cymbalaria</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Dasistoma</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Dicentra</td>
                    <td>Fumariaceae</td>
                    <td>Papaveraceae</td>
                  </tr>
                  <tr>
                    <td>Diervilla</td>
                    <td>Caprifoliaceae</td>
                    <td>Diervillaceae</td>
                  </tr>
                  <tr>
                    <td>Digitalis</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Disporum (see Prosartes)</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Dysphania (Chenopodium)</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Ellisia</td>
                    <td>Hydrophyllaceae</td>
                    <td>Boraginaceae</td>
                  </tr>
                  <tr>
                    <td>Empetrum</td>
                    <td>Empetraceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Euphrasia</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Fumaria</td>
                    <td>Fumariaceae</td>
                    <td>Papaveraceae</td>
                  </tr>
                  <tr>
                    <td>Gratiola</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Hemerocallis</td>
                    <td>Liliaceae</td>
                    <td>Hemerocallidaceae</td>
                  </tr>
                  <tr>
                    <td>Hippuris</td>
                    <td>Hippuridaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Hydrocotyle</td>
                    <td>Apiaceae</td>
                    <td>Araliaceae</td>
                  </tr>
                  <tr>
                    <td>Hydrophyllum</td>
                    <td>Hydrophyllaceae</td>
                    <td>Boraginaceae</td>
                  </tr>
                  <tr>
                    <td>Hypericum</td>
                    <td>Clusiaceae</td>
                    <td>Hypericaceae</td>
                  </tr>
                  <tr>
                    <td>Hypoxis</td>
                    <td>Amaryllidaceae</td>
                    <td>Hypoxidaceae</td>
                  </tr>
                  <tr>
                    <td>Kickxia</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Kochia</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Kolkwitzia</td>
                    <td>Caprifoliaceae</td>
                    <td>Linnaeaceae</td>
                  </tr>
                  <tr>
                    <td>Lemna</td>
                    <td>Lemnaceae</td>
                    <td>Araceae</td>
                  </tr>
                  <tr>
                    <td>Leucospora</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Linaria</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Lindernia</td>
                    <td>Scrophulariaceae</td>
                    <td>Linderniaceae</td>
                  </tr>
                  <tr>
                    <td>Linnaea</td>
                    <td>Caprifoliaceae</td>
                    <td>Linnaeaceae</td>
                  </tr>
                  <tr>
                    <td>Lysimachia</td>
                    <td>Primulaceae</td>
                    <td>Myrsinaceae</td>
                  </tr>
                  <tr>
                    <td>Maianthemum (incl. Smilacina)</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Mazus</td>
                    <td>Scrophulariaceae</td>
                    <td>Phrymaceae</td>
                  </tr>
                  <tr>
                    <td>Medeola</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Melampyrum</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Mimulus</td>
                    <td>Scrophulariaceae</td>
                    <td>Phrymaceae</td>
                  </tr>
                  <tr>
                    <td>Misopates</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Moneses</td>
                    <td>Pyrolaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Monotropa</td>
                    <td>Monotropaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Muscari</td>
                    <td>Liliaceae</td>
                    <td>Hyacinthaceae</td>
                  </tr>
                  <tr>
                    <td>Najas</td>
                    <td>Najadaceae</td>
                    <td>Hydrocharitaceae</td>
                  </tr>
                  <tr>
                    <td>Nelumbo</td>
                    <td>Nymphaeaceae</td>
                    <td>Nelumbonaceae</td>
                  </tr>
                  <tr>
                    <td>Odontites</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Ornithogalum</td>
                    <td>Liliaceae</td>
                    <td>Hyacinthaceae</td>
                  </tr>
                  <tr>
                    <td>Orthilia</td>
                    <td>Pyrolaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Parnassia</td>
                    <td>Saxifragaceae</td>
                    <td>Parnassiaceae</td>
                  </tr>
                  <tr>
                    <td>Pedicularis</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Penstemon</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Phacelia</td>
                    <td>Hydrophyllaceae</td>
                    <td>Boraginaceae</td>
                  </tr>
                  <tr>
                    <td>Philadelphus</td>
                    <td>Saxifragaceae</td>
                    <td>Hydrangeaceae</td>
                  </tr>
                  <tr>
                    <td>Phryma</td>
                    <td>Verbenaceae</td>
                    <td>Phrymaceae</td>
                  </tr>
                  <tr>
                    <td>Polanisia</td>
                    <td>Capparaceae</td>
                    <td>Cleomaceae</td>
                  </tr>
                  <tr>
                    <td>Polygonatum</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Proboscidea</td>
                    <td>Pedaliaceae</td>
                    <td>Martyniaceae</td>
                  </tr>
                  <tr>
                    <td>Prosartes (Disporum)</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Pterospora</td>
                    <td>Monotropaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Pyrola</td>
                    <td>Pyrolaceae</td>
                    <td>Ericaceae</td>
                  </tr>
                  <tr>
                    <td>Rhinanthus</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Ruppia</td>
                    <td>Ruppiaceae</td>
                    <td>Potamogetonaceae</td>
                  </tr>
                  <tr>
                    <td>Salicornia</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Salsola</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Sambucus</td>
                    <td>Caprifoliaceae</td>
                    <td>Adoxaceae</td>
                  </tr>
                  <tr>
                    <td>Samolus</td>
                    <td>Primulaceae</td>
                    <td>Theophrastaceae</td>
                  </tr>
                  <tr>
                    <td>Scheuchzeria</td>
                    <td>Juncaginaceae</td>
                    <td>Scheuchzeriaceae</td>
                  </tr>
                  <tr>
                    <td>Scilla</td>
                    <td>Liliaceae</td>
                    <td>Hyacinthaceae</td>
                  </tr>
                  <tr>
                    <td>Smilacina (see Maianthemum)</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Smilax</td>
                    <td>Liliaceae</td>
                    <td>Smilacaceae</td>
                  </tr>
                  <tr>
                    <td>Sparganium</td>
                    <td>Sparganiaceae</td>
                    <td>Typhaceae</td>
                  </tr>
                  <tr>
                    <td>Spirodela</td>
                    <td>Lemnaceae</td>
                    <td>Araceae</td>
                  </tr>
                  <tr>
                    <td>Stenanthium</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Streptopus</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Suaeda</td>
                    <td>Chenopodiaceae</td>
                    <td>Amaranthaceae</td>
                  </tr>
                  <tr>
                    <td>Tilia</td>
                    <td>Tiliaceae</td>
                    <td>Malvaceae</td>
                  </tr>
                  <tr>
                    <td>Tofieldia</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Tomanthera (see Agalinis)</td>
                    <td>Scrophulariaceae</td>
                    <td>Orobanchaceae</td>
                  </tr>
                  <tr>
                    <td>Triadenum</td>
                    <td>Clusiaceae</td>
                    <td>Hypericaceae</td>
                  </tr>
                  <tr>
                    <td>Triantha (Tofieldia)</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                  <tr>
                    <td>Trientalis</td>
                    <td>Primulaceae</td>
                    <td>Myrsinaceae</td>
                  </tr>
                  <tr>
                    <td>Trillium</td>
                    <td>Liliaceae</td>
                    <td>Trilliaceae</td>
                  </tr>
                  <tr>
                    <td>Uvularia</td>
                    <td>Liliaceae</td>
                    <td>Convallariaceae</td>
                  </tr>
                  <tr>
                    <td>Veronica</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Veronicastrum</td>
                    <td>Scrophulariaceae</td>
                    <td>Plantaginaceae</td>
                  </tr>
                  <tr>
                    <td>Viburnum</td>
                    <td>Caprifoliaceae</td>
                    <td>Adoxaceae</td>
                  </tr>
                  <tr>
                    <td>Vincetoxicum</td>
                    <td>Asclepiadaceae</td>
                    <td>Apocynaceae</td>
                  </tr>
                  <tr>
                    <td>Wolffia</td>
                    <td>Lemnaceae</td>
                    <td>Araceae</td>
                  </tr>
                  <tr>
                    <td>Yucca</td>
                    <td>Liliaceae</td>
                    <td>Agavaceae</td>
                  </tr>
                  <tr>
                    <td>Zannichellia</td>
                    <td>Zannichelliaceae</td>
                    <td>Potamogetonaceae</td>
                  </tr>
                  <tr>
                    <td>Zigadenus (see Anticlea)</td>
                    <td>Liliaceae</td>
                    <td>Melanthiaceae</td>
                  </tr>
                </tbody>
              </table>
            </v-col>
          </v-row>
        </v-col>
        <NavDrawer />
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>

</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'FamilyChanges',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>
table{
  width: 100%;
}
  td {
    max-width: 66vw;
    white-space: pre-line;
  }

</style>
