<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-content class="mt-12">
      <v-row class="mt-12"></v-row>
      <v-row class="mt-12">
        <v-col class="mt-12 text-justify" cols="9" offset="1" md="10" lg="8" offset-lg="3">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">The Glossary</p>
          <v-divider></v-divider>
        </v-col>
        <v-col cols="3">
          <NavDrawer />
        </v-col>
        <v-col class="text-justify" cols="9" offset="1" md="10" lg="8" offset-lg="3">
          <p>Note: Some specialized terms used only in certain families and genera are explained in the remarks for the group concerned and are not repeated here. When this glossary lists a noun, obvious adjectives derived from it are usually not listed separately; e.g., whorled means "in a whorl;" petioled or petiolate means "with a petiole;" apiculate means "with an apiculus;" mucronate means "with a mucro;" pistillate means "possessing or pertaining to pistils;" involucrate means "having an involucre;" involucral means "pertaining to the involucre;" stipitate means "having a stipe;" and so forth. Likewise, negatives are usually not defined: imperfect means "not perfect," apetalous means "without petals"; and eglandular means "without glands"; etc. Other terms not listed here are hardly specialized botanical ones; if they are unfamiliar, use a good dictionary.</p>

          <p>Since nature does not always follow the book, many conditions intermediate between two defined ones occur, and honesty compels the botanist to use a lot of hyphens for such intermediacy (linear-lanceolate, ovate-orbicular, auriculate-clasping) as well as for combined conditions (glandular-pubescent).</p>

          <p>Some frequently used terms for habitats are included here, especially if used fairly precisely; e.g., bog, fen, though most are self-explanatory.</p>

          <p>Abaxial. Away from the axis; e.g. the "lower" or dorsal surface of a leaf, the "outer" side of a flower or group of nutlets. Cf. adaxial.</p>

          <p>Achene. A dry indehiscent fruit, strictly speaking one derived from a single superior carpel, but broadly used for similar fruits ("nutlets") derived from more than one carpel or (as in Asteraceae) from an inferior ovary.</p>

          <p>Acuminate. Prolonged into a very acute point (and often slightly concave below the point).</p>

          <p>Acute. With the sides or margins converging at less than a 90° angle.</p>

          <p>Adaxial. Toward the axis; e.g., the "upper" or ventral surface of a leaf, the "inner" side of a flower part or group of nutlets. Cf. abaxial.</p>

          <p>Adherent. Sticking (but not fused) to parts of a different kind. Cf. adnate.</p>

          <p>Adnate. United (fused) to parts of a different kind; e.g., stamens to petals, stipule to blade. Cf. connate.</p>

          <p>Adventive. Spreading beyond its native range, but not [yet] well established.</p>

          <p>Albino. Lacking normal color; i.e., white — usually in reference to flowers, at least the corolla, for which another color is usual.</p>

          <p>Allo-. See n.</p>

          <p>Alternate. Arranged singly at the nodes, as leaves on a stem or branches in an inflorescence neither opposite nor whorled.</p>

          <p>Alvar. Flat glaciated limestone rock ("pavement") with thin (if any) soil and usually graminoid vegetation with trees few and often dwarfed.</p>

          <p>Ament. A spike or spike-like inflorescence consisting of reduced (usually apetalous and unisexual) flowers and deciduous as a unit; also called a "catkin."</p>

          <p>Amphidiploid. A taxon of hybrid origin including chromosomes from both parents and fertile as a result of their doubling. Cf. also n.</p>

          <p>Amphiploid. An autopolyploid; a taxon of hybrid origin with double (or more) sets of chromosomes.</p>

          <p>Anastomose. To connect so as to form a network (as veins in a leaf blade).</p>

          <p>Annual. Living for one year; i.e., germinating, flowering, and setting seed in a single growing season (lacking perennial roots, rhizomes, or other such parts). A winter annual begins its year in the fall and completes its cycle after winter.</p>

          <p>Anther. The pollen-bearing part of a stamen.</p>

          <p>Anthesis. The time at which a flower is fully expanded and functional.</p>

          <p>Antrorse. Directed toward the apex or "upward;" e.g., barbs on a bristle or awn. Cf. retrorse.</p>

          <p>Apiculus. A very small sharp beak-like tip.</p>

          <p>Apomixis. As used here, reproduction by seed without fertilization—a form of asexual reproduction.</p>

          <p>Appressed. Oriented in a parallel or nearly parallel manner to the surface or axis to which attached.</p>

          <p>Aril. An appendage arising from or near the scar (hilum) on a seed marking its point of attachment; an aril may be quite small or may enclose the seed.</p>

          <p>Articulate(d). With a definite point of separation or "joint.", jointed.</p>

          <p>Ascending. Directed strongly upward or forward (in relation to the point of attachment), but not fully erect or at right angles.</p>

          <p>Attenuate. Drawn out gradually to a slender tapering apex or base.</p>

          <p>Auricle. A lobe or appendage, often small and ear-like, typically projecting at the base or summit of an organ (as on a leaf blade).</p>

          <p>Awn. A terminal appendage or elongation, typically bristle-like.</p>

          <p>Axil. The angle where a leaf or branch joins a stem or main axis, or where a lateral vein joins the midrib of a leaf.</p>

          <p>Barb. A small sharp projection, usually retrorse, as on a fish-hook.</p>

          <p>Barbellate. With little barbs.</p>

          <p>Basal. At the base; i.e., unless the context indicates otherwise, at the base of the plant, or at ground level.</p>

          <p>Beak. A comparatively slender prolongation (sometimes of firmer texture) on a broader organ.</p>

          <p>Beard. A concentration or tuft of hairs.</p>

          <p>Berry. A fleshy indehiscent several-seeded fruit derived from a single ovary.</p>

          <p>Bi-. A prefix meaning two or twice.</p>

          <p>Biconvex. Convex on both sides. Cf. plano-convex.</p>

          <p>Biennial. Living for two years. Such plants often produce a rosette of leaves the first year and a flowering stem the second year.</p>

          <p>Bifid. Cleft in two.</p>

          <p>Bilaterally symmetrical. Capable of division into similar (mirror-image) halves on only one plane (= "zygomorphic" of many works). Cf. regular.</p>

          <p>Bipinnatifid. Twice pinnatifid; with the primary divisions again pinnatifid.</p>

          <p>Blade. The expanded portion of a leaf or other flat structure.</p>

          <p>Bog. An acidic peatland dominated by Sphagnum mosses and shrubs in the family Ericaceae, often found around lakes and ponds with vegetation in ± concentric zones of increasing maturity from open water to surrounding swamp forest or upland. Its water typically derives mostly from precipitation not groundwater flow. Cf. fen.</p>

          <p>Bract. A reduced leaf-like, sometimes scale-like, structure, often subtending a flower, inflorescence, branch, etc.</p>

          <p>Bulb. A short underground shoot which bears fleshy overlapping leaves (as in an onion).</p>

          <p>Bulblet. A small, ± bulb-like vegetative propagule.</p>

          <p>Bulbous. With a bulb-shaped thickening.</p>

          <p>Calcareous. Limy—rich in calcium carbonate, as from limestone (or dolomitic limestone) or marl.</p>

          <p>Calciphile. Favoring alkaline (calcareous) habitats.</p>

          <p>Callus. A firm thickening or protuberance; the hard often enlarged area at the base of a grass floret.</p>

          <p>Calyx. The outer series of perianth parts (or the only one); the sepals, collectively.</p>

          <p>Capitate. Like a pin-head (as certain stigmas on the style).</p>

          <p>Capsule. A fruit which dehisces along two or more sutures (derived from 2 or more carpels) usually several- or many-seeded.</p>

          <p>Carpel. The basic female structural unit of the flower, homologous to a sepal, petal, or stamen; in a compound pistil, the carpels are united (connate), but the number can often be determined from the number of styles, stigmas, lobes, or locules (compartments in the ovary).</p>

          <p>Caudate. With a well-defined very long-prolonged (tail-like) appendage or abruptly long-acuminate apex.</p>

          <p>Cauline. On or pertaining to the stem — often in contrast to basal.</p>

          <p>Cespitose. Growing in tufts or dense clumps.</p>

          <p>Cf. From the Latin “confer,” meaning “compare.” Used, especially in keys, to mean see also that entity and compare it with your plant.</p>

          <p>Chaff. (Receptacular chaff) The scales, bracts, or bristles on the receptacle of a head in the Asteraceae, ordinarily subtending the ovaries (later, achenes).</p>

          <p>Chasmogamous. (Of a flower) open and showy (as opposed to cleistogamous).</p>

          <p>Cilia. Hairs along a margin or edge.</p>

          <p>Ciliate. With hairs along the margin or edge.</p>

          <p>Circumscissile. Dehiscing by a circular line around the fruit.</p>

          <p>Clasping. Sessile and at least slightly surrounding the stalk to which attached.</p>

          <p>Clavate. Club-shaped; i.e., with a ± prolonged and narrow base.</p>

          <p>Claw. A ± abruptly or strongly narrowed basal portion of some blades; e.g., of petals or tepals.</p>

          <p>Cleistogamous. (Of a flower) fertilized and setting seed without opening.</p>

          <p>Coherent. Sticking together in a group but not actually fused (as individual pollen grains).</p>

          <p>Column. In the Orchidaceae, the structure resulting from fusion (adnation) of stamen(s) and pistil.</p>

          <p>Compound. Composed of more than one part, or branched; e.g., a leaf with two or more blades (leaflets), a pistil with more than one carpel, a branched inflorescence. Cf. simple.</p>

          <p>Connate. United (fused) to other parts of the same kind; e.g., petals to petals, leaf margin to leaf margin. Cf. adnate.</p>

          <p>Connivent. Coming into close contact but not actually fused (as in some anthers, e.g., in Solanaceae).</p>

          <p>Cordate. Broadly two-lobed; heart-shaped.</p>

          <p>Corm. A short thick underground stem lacking the thick fleshy leaves that characterize a bulb.</p>

          <p>Corolla. The inner series of perianth parts (when there are two series); the petals, collectively.</p>

          <p>Corymb. An inflorescence of the racemose or paniculate type, flowering from the margins inward, but with the lower pedicels or branches longer than the upper so that the inflorescence is relatively short, broad, and flat-topped.</p>

          <p>Crenate. With very rounded teeth; scalloped.</p>

          <p>Crenulate. Finely crenate.</p>

          <p>Culm. The stem of a grass or sedge.</p>

          <p>Cultivar. A named horticultural variety; it may be designated either by placing the cultivar epithet in single quotation marks or by preceding it with the abbreviation cv.</p>

          <p>Cuneate. Wedge-shaped; i.e., with straight but not parallel sides.</p>

          <p>Cuspidate. With a firm, sharp point.</p>

          <p>Cyme. A type of inflorescence in which the terminal (rather than lower) flower matures first.</p>

          <p>Deciduous. (Of leaves) falling off naturally at the end of the growing season; (of floral parts) shed readily, often ephemeral.</p>

          <p>Decumbent. Prostrate basally but ascending toward the tip.</p>

          <p>Decurrent. Extending downward and along, as a leaf base on a stem or a leaf blade on a petiole.</p>

          <p>Dehiscent. Splitting open naturally at maturity at one or more definite points. Cf. indehiscent.</p>

          <p>Dentate. With ± outward-pointing (often coarse and/or obtuse) marginal teeth.</p>

          <p>Denticulate. With minute, usually ± remote, marginal teeth.</p>

          <p>Depauperate. Stunted or otherwise poorly developed.</p>

          <p>Dichotomous. Forking into two ± equal branches.</p>

          <p>Dimorphic. Of two forms.</p>

          <p>Dioecious. Having the sexes on separate plants; i.e., all flowers on a single plant either staminate or pistillate. Cf. monoecious.</p>

          <p>Diploid. See n.</p>

          <p>Discoid. Consisting only of disk flowers (Asteraceae).</p>

          <p>Disk. In the Asteraceae, the portion of the head consisting of radially symmetrical flowers (disk flowers). A ring of tissue around the base of the ovary (an enlargement on the receptacle) or at the margin of a floral tube.</p>

          <p>Dissected. So finely divided (as in some leaf blades) that the blade tissue is nearly restricted to bordering the main veins (definite leaflets not evident).</p>

          <p>Distal. At or toward the apex; i.e., toward the opposite end from that at which a structure is attached.</p>

          <p>Distinct. Not connate. In general use, easy to see.</p>

          <p>Divaricate. Strongly divergent; spreading or forking at about a 90° angle or more.</p>

          <p>Divergent. Spreading away from the surface or axis to which attached.</p>

          <p>Dorsal. Pertaining to the surface (e.g., of a leaf, sepal, perigynium, seed, or nutlet) away from the axis to which a structure is attached; abaxial. Cf. ventral.</p>

          <p>Double. (Of a flower) with extra cycles of perianth parts (morphologically derived usually from stamens and carpels converted to petals). (Of serrations) with primary teeth again toothed (doubly serrate). Cf. single.</p>

          <p>Drupe. A fleshy indehiscent fruit with the seed (or seeds) enclosed in a hard tissue (endocarp) forming one (usually) or more central pits (or "stones").</p>

          <p>Ellipsoid. Elliptical, but applied to a 3-dimensional object rather than to a plane surface.</p>

          <p>Elliptic. Longer than wide, broadest at the middle, and tapering ± equally toward both ends.</p>

          <p>Emarginate. With a shallow notch at the apex.</p>

          <p>Emersed. Normally extending above the water. Cf. submersed.</p>

          <p>Entire. Without teeth; with a continuous margin.</p>

          <p>Ephemeral. Lasting for a short time (of flower parts, less than a day).</p>

          <p>Equitant. Folded lengthwise and straddling the structure beneath, as in the leaves of Iris.</p>

          <p>Erose. Irregular (of a margin), as if chewed or gnawed.</p>

          <p>Excurrent. Running beyond, as a vein prolonged beyond the margin of a leaf or other structure.</p>

          <p>Exserted. Protruding beyond the surrounding structure(s), as stamens beyond a corolla. Cf. included.</p>

          <p>Farinose. Covered with a fine granular or powdery (mealy) coating.</p>

          <p>Fen. A peatland nourished by calcareous groundwater flow through its near surface peat layers and dominated by sedges and non-Ericaceous shrubs, with little if any Sphagnum and more alkaline compared to the typical acid bog. Gradations between bog and fen may occur, and some large peatlands are mosaics.</p>

          <p>Fertile. Normally reproductive; e.g., a fertile stamen produces pollen, a fertile flower bears seed (or at least reproductive parts); by extension, a structure associated with a fertile flower (as "a fertile lemma"). Cf. sterile.</p>

          <p>Filament. The stalk of a stamen, usually thread-like but sometimes flattened or expanded.</p>

          <p>Filiform. Thread-like; very slender and approximately as broad as thick.</p>

          <p>Flexuous. More or less loose and sinuous, bent or curved (usually several times in alternate directions); zigzag.</p>

          <p>Floating. On the surface of the water (floating leaves neither rise above the surface nor live entirely under the surface).</p>

          <p>Floral tube. The usually saucer- or cup-shaped structure formed by the adnate portions of perianth and stamens, on which the free portions of these organs are inserted. (In some works = "calyx tube" or "hypanthium.")</p>

          <p>Floret. A reduced flower, as in a grass.</p>

          <p>Foliaceous. Leaf-like (in color, texture, or size).</p>

          <p>Follicle. A fruit which dehisces along a single suture (derived from a single carpel).</p>

          <p>Forest. Vegetation dominated by trees closely enough spaced to provide a continuous or closed canopy.</p>

          <p>Form. A taxonomic rank below that of variety, usually used for minor, sporadic variants involving such features as flower color or pubescence, without any geographic coherence.</p>

          <p>Free. Not adnate.</p>

          <p>Fruit. A ripened ovary and any closely associated structures.</p>

          <p>Glabrate. Nearly without hairs.</p>

          <p>Glabrous. Without pubescence of any kind.</p>

          <p>Gland. A secretory structure; any small protuberance (often of different texture, e.g., shiny or sticky in appearance) resembling such a structure.</p>

          <p>Glaucous. Covered with a pale (gray to blue-green) waxy coating or "bloom."</p>

          <p>Glume. A bract or scale at the base of a grass spikelet.</p>

          <p>Halophyte. Plant of saline habitats.</p>

          <p>Hastate. Shaped like an arrowhead but with basal lobes diverging. Cf. sagittate.</p>

          <p>Haustoria. The structures on a parasitic plant by which it is attached to its host.</p>

          <p>Head. A compact inflorescence of sessile flowers or fruits crowded on a receptacle. Loosely used for compact clusters of fruits from a single flower.</p>

          <p>Hemiparasitic. Partly parasitic, i.e., attached to a host plant but also with capacity for photosynthesis.</p>

          <p>Hemispherical. Shaped like half a sphere.</p>

          <p>Heterophylly. The phenomenon of producing two kinds of leaves, quite different morphologically, on the same individual, either simultaneously or in the course of development.</p>

          <p>Heterostylous. With styles (and generally stamens) of different lengths in different flowers.</p>

          <p>Hirsute. With rather coarse or stiff hairs.</p>

          <p>Hispid. With stiff hairs or bristles.</p>

          <p>Hispidulous. Minutely hispid.</p>

          <p>Hoary. With fine gray or whitish pubescence.</p>

          <p>Homostylous. With styles and stamens about the same length.</p>

          <p>Hyaline. Thin and translucent.</p>

          <p>Hypanthium. See floral tube.</p>

          <p>Imbricate. With the edges overlapping, like shingles on a roof. Cf. valvate.</p>

          <p>Impressed. Slightly sunken, as the veins on the surfaces of some leaves.</p>

          <p>Incised. Cut ± deeply (but not as deeply as in pinnatifid or dissected).</p>

          <p>Included. Not protruding beyond the surrounding structure(s). Cf. exserted.</p>

          <p>Indehiscent. Not splitting open naturally. Cf. dehiscent.</p>

          <p>Inferior. (Of an ovary) below the perianth. Cf. superior.</p>

          <p>Inflorescence. An entire flower cluster, including pedicels and bracts.</p>

          <p>Infructescence. A fruiting inflorescence.</p>

          <p>Inserted. Attached to or on; appearing to arise from, often applied to the free portion of an adnate structure, (as stamens from a corolla to which they are adnate).</p>

          <p>Internode. The portion of a stem or rachis between nodes.</p>

          <p>Introgression. The gradual infiltration of genes from one taxon into another, as the result of hybridization and back-crossing with the parent(s).</p>

          <p>Involucel. Bracts at the base of a unit in a compound inflorescence, in contrast to the involucre at the base of the entire inflorescence.</p>

          <p>Involucre. The bract or bracts (or even leaves) at the base of an inflorescence. Cf. spathe.</p>

          <p>Involute. With the margins rolled in (i.e., adaxially). Cf. revolute.</p>

          <p>Keel. A ridge ± centrally located on the long axis of a structure, such as a sepal or an achene. The pair of connate lowermost petals in a papilionaceous flower.</p>

          <p>Lacerate. Ragged, irregularly cleft, appearing as if torn.</p>

          <p>Laciniate. Deeply and ± narrowly lobed or slashed.</p>

          <p>Lanceolate. Narrow and elongate, broadest below the middle.</p>

          <p>Leaflet. One of the blades of a compound leaf.</p>

          <p>Lemma. The lower or outer bract or scale at the base of a grass floret.</p>

          <p>Lenticel. A corky, porous spot on bark (especially noticeable and large on Betula and Prunus).</p>

          <p>Lenticular. Lens-shaped; i.e., biconvex or at least 2-sided (rather than, e.g., 3-sided).</p>

          <p>Ligule. An appendage (e.g., membranous collar or fringe of hairs) at the base of a leaf or summit of a leaf sheath and on its adaxial side. In Asteraceae, the corolla of a bilaterally symmetrical (petal-like) flower; cf. ray.</p>

          <p>Limb. The expanded part of an organ; generally the expanded part of a corolla in contrast to the narrow tubular portion.</p>

          <p>Linear. Narrow and elongate with ± parallel sides.</p>

          <p>Lip. In the Orchidaceae, the one odd petal which is specially modified, usually the lowest (through twisting of the ovary 180°); in many other bilaterally symmetrical flowers, one of a set of lobes (e.g., 3 lobes in one lip and 2 lobes in another, representing a total of 5 corolla lobes).</p>

          <p>Lobe. A projecting portion or segment, generally set off by an indentation (sinus).</p>

          <p>Locule. A compartment or cavity, as in an anther or ovary (sometimes termed a "cell").</p>

          <p>Lyrate. Pinnatifid but with a relatively large terminal lobe.</p>

          <p>Marl. A deposit of calcium carbonate resulting from the activity of photosynthetic plants in altering the carbonate/bicarbonate balance in a lake or pond.</p>

          <p>Marsh. A wetland dominated by coarse, non-woody vegetation. Cf. swamp.</p>

          <p>Meadow. A treeless area less wet than a marsh and dominated by smaller grasses or sedges. Wet meadows are often dominated by sedges and may grade into fens or bogs; if dominated by grasses, they may grade into prairies in southern Michigan. When upland, meadows are usually successional or formed by clearing and often include many introduced species.</p>

          <p>Medifixed. Attached at the middle; two-pronged, as in some kinds of hairs.</p>

          <p>Mericarp. One of the (usually indehiscent, 1-seeded) parts into which certain fruits separate.</p>

          <p>-merous. -parted; i.e., with parts in the number cited or a multiple thereof.</p>

          <p>Midrib. The prominent central vein of many leaves (often best seen from the lower side).</p>

          <p>Monoecious. Having the sexes in separate flowers but on the same individual. Cf. dioecious.</p>

          <p>Monotypic. (Of a family or genus) containing only one species.</p>

          <p>Mucro. A short, sharp, slender point.</p>

          <p>Mycorrhiza. A mutually beneficial combination of fungus and plant root.</p>

          <p>n. The haploid or gametophytic number of chromosomes; ordinary cells of a seed plant have this number of pairs of chromosomes. Many plants have more than the basic two sets or complements of chromosomes (diploid) and the number of these is indicated with the suffix -ploid; triploid (3n) = 3 sets; tetraploid (4n) = 4 sets; pentaploid (5n) = 5 sets; octoploid (8n) = 8 sets; etc. An alloploid is of hybrid origin, including sets of chromosomes from different parents (rather than mere multiplication of chromosomes from one species).</p>

          <p>Nectary. An organ that produces nectar.</p>

          <p>Nerve. A vein or ridge, usually a relatively weak or less strong one.</p>

          <p>Net- (or netted-) veined. With main veins (if more than one) branched (other veins diverging from the main veins, ± anastomosing or reticulate). Cf. parallel-veined.</p>

          <p>Node. The point on a stem at which a leaf or branch arises (extended to include the axis of an inflorescence).</p>

          <p>Nut. A dry, hard, indehiscent (usually 1-seeded) fruit, often larger than normally termed an achene (or nutlet).</p>

          <p>Nutlet. An achene or similar tiny 1-seeded indehiscent fruit; also used for the stony carpels embedded in the pome of Crataegus.</p>

          <p>Ob-. A prefix signifying inversion, usually with adjectives indicating shape; e.g., obovate, obconic, or obcordate (with the small end basal).</p>

          <p>Oblique. Asymmetrical, unequal, or slanting.</p>

          <p>Oblong. Longer than wide and ± parallel-sided (but not as elongate as linear).</p>

          <p>Obtuse. With the sides or margins converging at more than a 90° angle.</p>

          <p>Ocrea. The tubular sheathing stipule peculiar to the Polygonaceae.</p>

          <p>Ocreola. A small ocrea subtending the flowers in inflorescences of Polygonaceae.</p>

          <p>Opposite. Two at a node (and ± 180° apart), as in some leaves. Centered upon rather than alternating with, as stamens opposite the petals.</p>

          <p>Orbicular. Circular in outline or nearly so.</p>

          <p>Ovary. The lower portion of a pistil, usually ± expanded, in which the seed or seeds are produced; ripens into a fruit.</p>

          <p>Ovate. Shaped in general outline like a longitudinal section of an egg; i.e., broadest below the middle (but broader than lanceolate).</p>

          <p>Ovoid. Egg-shaped.</p>

          <p>Ovule. The immature seed within an ovary.</p>

          <p>Palate. In a 2-lipped corolla, a projection or hump on the lower lip that closes the throat.</p>

          <p>Palea. The upper or inner bract or scale at the base of a grass floret.</p>

          <p>Palmate. Radiating from a common point, as veins or leaflets in a leaf.</p>

          <p>Panicle. An inflorescence in which the pedicels arise from a branched axis rather than a simple central axis and the lower flowers mature first, i.e., a "branched raceme."</p>

          <p>Papilionaceous. Literally, "butterfly-like;" (of a flower) bilaterally symmetrical with 2 usually spreading lateral petals or wings, a lower keel (of 2 connate petals), and 1 upper (usually the largest) petal or standard (see Fabaceae).</p>

          <p>Papilla. A minute blunt or rounded projection on a surface.</p>

          <p>Pappus. The bristles, hairs, scales, or other structures on the summit of the ovary (or achene) in the Asteraceae, i.e., at the base of the corolla (where one would expect a calyx).</p>

          <p>Parallel-veined. With three or more main veins (± parallel) running from the base of the blade to the apex of the leaf (with or without minute cross-veins). Cf. net-veined.</p>

          <p>Parasitic. Dependent upon (and attached to) another plant for nutrition.</p>

          <p>Pectinate. Very deeply pinnatifid, with central axis and unbranched lateral segments like teeth on a (double) comb.</p>

          <p>Pedicel. The stalk of an individual flower, spikelet, or head.</p>

          <p>Peduncle. The stalk of an entire inflorescence (or of a solitary flower when there is only one).</p>

          <p>Peltate. With the stalk attached to the mid-surface of a blade-like structure (rather than at the margin).</p>

          <p>Pendent, pendulous. Hanging or drooping.</p>

          <p>Perennial. Living three or more years.</p>

          <p>Perfect. (Of a flower) containing both stamen(s) and pistil(s); bisexual; hermaphrodite.</p>

          <p>Perfoliate. With the stem (or other stalk) appearing to pass through the leaf (or other blade); i.e., the blades sessile (or two opposite blades connate) and their basal tissue surrounding the stem.</p>

          <p>Perianth. All of the calyx and corolla together insofar as these are present, in contrast to the reproductive organs of the flower.</p>

          <p>Pericarp. The wall of a fruit; i.e., excluding the seeds.</p>

          <p>Perigynium. The flask-shaped or sac-like (sometimes flattened) structure surrounding the ovary (and later the achene) in Carex.</p>

          <p>Perigynous. Surrounding the ovary or ovaries (but not adnate); possessing a floral tube.</p>

          <p>Petal. One of the divisions of the corolla.</p>

          <p>Petiole. The stalk portion of a leaf.</p>

          <p>Petiolule. The stalk of a leaflet in a compound leaf.</p>

          <p>Phyllary. One of the bracts in the involucre of the Asteraceae.</p>

          <p>Pilose. With soft, usually long and ± straight, hairs.</p>

          <p>Pinnate. Arranged in two rows, one on each side of a common axis, as veins in a leaf or leaflets in a compound leaf. In an odd-pinnate leaf, there is a terminal leaflet; in an even-pinnate one, there is no terminal leaflet. Twice-pinnate; with the primary divisions again pinnate.</p>

          <p>Pinnatifid. Deeply lobed or cleft in a pinnate pattern.</p>

          <p>Pinnatisect. Very deeply cleft in a pinnate pattern (often to the midrib).</p>

          <p>Pistil. One of the female or seed-producing structures of a flower, whether composed of a single carpel or two or more carpels; usually consisting of one ovary and one or more styles and stigmas.</p>

          <p>Pit. The seed and its stony covering in a drupe. A tiny but often relatively deep depression on a surface.</p>

          <p>Pith. The spongy center of a stem (consisting of thin-walled cells).</p>

          <p>Placentation. The arrangement of ovules in an ovary.</p>

          <p>Plano-convex. Flat or flattish on one side and convex on the other.</p>

          <p>Plicate. Folded (along veins) like a fan or pleats of an accordion.</p>

          <p>-ploid. See n.</p>

          <p>Plumose. (Of hairs) with lateral branches, like a feather — a pectinate hair (but usually 3-dimensional, not flat).</p>

          <p>Pollen. The grains (microspores, containing male gametes) produced in the anther.</p>

          <p>Polygamous. Bearing perfect and unisexual flowers on the same individual. Polygamo-monoecious: polygamous with unisexual flowers of both sexes. Polygamo-dioecious: polygamous with unisexual flowers of only one sex.</p>

          <p>Pome. A fleshy fruit derived from an inferior ovary, the fleshy tissue developed chiefly from the floral tube (adnate to the ovary which forms a papery or cartilaginous core), as in apples and pears and the rest of their subfamily of the Rosaceae.</p>

          <p>Pore. A small ± round natural opening through which pollen or seeds can escape.</p>

          <p>Prairie. A naturally treeless dry to wet area dominated by native grasses.</p>

          <p>Prickle. A sharp stiff point derived from&nbsp;the epidermis, thus lacking vascular tissue, and potentially distributed throughout the plant, not restricted to nodes or stems.</p>

          <p>Proximal. At or toward the base; i.e., the end at which a structure is attached.</p>

          <p>Puberulent. Minutely or finely pubescent.</p>

          <p>Pubescent. With hairs (of whatever size or texture).</p>

          <p>Pulverulent. Covered with a dust-like surface.</p>

          <p>Pulvinus. A swelling at the base of a branch of the inflorescence (in some grasses) or at the base of a petiole or petiolule (the stalk of a leaflet) as in many Fabaceae.</p>

          <p>Punctate. Dotted with tiny pits or glands or spots.</p>

          <p>Puncticulate. Very minutely punctate.</p>

          <p>Pustulate. With blister-like swellings.</p>

          <p>Raceme. A type of inflorescence in which each flower is on an unbranched pedicel attached to an unbranched ± elongate central axis; the flowering sequence is from the base to the apex.</p>

          <p>Rachilla. The axis of a spikelet in the grasses and sedges.</p>

          <p>Rachis. The central axis of an inflorescence or a compound leaf.</p>

          <p>Radiate. With ray flowers in the head (Asteraceae).</p>

          <p>-ranked, -rowed. Two-ranked structures are in two rows on opposite sides of an axis and 3-ranked structures are in 3 rows (best seen by examining the apex of the axis from above).</p>

          <p>Ray. A branch of an inflorescence such as a compound umbel. In Asteraceae, the expanded portion (limb) of a petal-like (bilaterally symmetrical) flower or ligule.</p>

          <p>Receptacle. The surface on which the parts of a flower are inserted, or on which the flowers in a head or other dense inflorescence are inserted.</p>

          <p>Receptacular chaff. (See chaff).</p>

          <p>Reflexed. Bent back or downwards.</p>

          <p>Regular. With radial symmetry; capable of division into similar halves on more than one plane (= "actinomorphic" of many works). Cf. bilaterally symmetrical.</p>

          <p>Remote. Relatively far apart.</p>

          <p>Reniform. Shaped in general outline like a longitudinal section of a kidney; i.e., broader than long, ± shallowly cordate at base and otherwise ± rounded (obtuse at apex).</p>

          <p>Reticulate. Having the appearance of a net.</p>

          <p>Retrorse. Directed toward the base or "downward;" e.g., barbs on a bristle or awn. Cf. antrorse.</p>

          <p>Revolute. With the margins rolled back or under (i.e., abaxially). Cf. involute.</p>

          <p>Rhizome. An underground stem, usually ± elongate and growing horizontally (distinguishable from a root by the presence of nodes).</p>

          <p>Rosette. A ± dense and circular cluster of leaves.</p>

          <p>Rotate. (Of a corolla) having a broad, flat limb and a very short tube.</p>

          <p>Rugose. Wrinkled or puckered in appearance.</p>

          <p>Sagittate. Arrowhead-shaped, with basal lobes pointing downward (not divergent, but often ± parallel). Cf. hastate.</p>

          <p>Salverform. Having a slender tube and abruptly expanded flat limb.</p>

          <p>Samara. A dry indehiscent nut-like fruit with a well developed wing.</p>

          <p>Saprophyte. A plant incapable of photosynthesis, but not directly parasitic on any green plant (usually on a fungus).</p>

          <p>Savanna. Vegetation consisting mostly of grassland with trees scattered (not forming a closed canopy) or in scattered clumps.</p>

          <p>Scabrous. Rough (to the touch).</p>

          <p>Scale. Any small thin bract, such as covers a bud or subtends an individual flower in Poaceae and Cyperaceae, or an individual flower in an ament.</p>

          <p>Scape. A peduncle arising from the base of a plant (directly from root, rhizome, etc.); a "leafless stem."</p>

          <p>Scarious. Thin and dry, papery in texture.</p>

          <p>Scurfy. Covered with scales.</p>

          <p>Schizocarp. A fruit that splits at maturity into 2 or more (usually indehiscent and 1-seeded parts which are dispersed as separate units (mericarps).</p>

          <p>Sepal. One of the divisions of the calyx.</p>

          <p>Septate. With cross-partitions; jointed.</p>

          <p>Septate-nodulose.With swollen cross-partitions as in cross-veins of some leaves.</p>

          <p>Serrate. With sharp, ± forward-pointing, marginal teeth. In a doubly serrate margin, there are teeth on the primary teeth.</p>

          <p>Serrulate. Minutely serrate.</p>

          <p>Sessile. Attached without a stalk.</p>

          <p>Setaceous. Bristle-like.</p>

          <p>Setulose. With minute bristles (or stiff cilia).</p>

          <p>Silicle. A short silique (see next).</p>

          <p>Silique. A two-carpellate fruit which dehisces from the base upward, leaving a septum between the locules, characteristic of the Brassicaceae. Usually elongate; if short, called a silicle.</p>

          <p>Simple. Composed of a single or unbranched part; e.g., a leaf with one blade, a pistil of one carpel, an unbranched inflorescence, an unbranched hair. Cf. compound.</p>

          <p>Single. (Of flowers) with one cycle of showy perianth parts. Cf. double. (Not the same as solitary, which means only one). Of serrations, without additional teeth on the primary teeth.</p>

          <p>Sinuate. Broadly scalloped, with ± open sinuses and low teeth; coarsely dentate or wavy-margined.</p>

          <p>Sinuous. With one or more bends or "kinks," as in the style of some Carex.</p>

          <p>Sinus. The space or cleft between two lobes.</p>

          <p>Spadix. An inflorescence consisting of small sessile flowers on a ± elongate fleshy axis.</p>

          <p>Spathe. A single bract (occasionally more) at the base of an inflorescence (equivalent to an involucre, but used only in the monocots).</p>

          <p>Spatulate. Broad and flat distally, contracted or tapered toward the base; spoon-shaped.</p>

          <p>Spicule. A minute sharp slender point, as on the margins of some leaves.</p>

          <p>Spike. An elongate unbranched inflorescence in which the flowers are sessile; loosely, a dense elongate spike-like inflorescence with crowded flowers.</p>

          <p>Spikelet. The unit of the inflorescence in a grass or sedge (i.e., a small spike, with reduced flowers on a central axis).</p>

          <p>Spine. A sharp stiff point formed from a modified leaf or part of a leaf (especially stipules), thus having vascular tissue; not branched, and usually smaller than a thorn (and never terminal on a stem).</p>

          <p>Spinulose. With minute spines; like a minute spine.</p>

          <p>Stamen. One of the male or pollen-producing structures of a flower, usually consisting of a filament and an anther.</p>

          <p>Staminodium. A sterile stamen (so determined by its location), without an anther, but sometimes cleft, hairy, or otherwise considerably modified.</p>

          <p>Standard. The usually upright larger petal opposite the keel in a papilionaceous flower.</p>

          <p>Stellate. (Of a hair) ± radially branched.</p>

          <p>Sterile. Not fertile; lacking reproductive parts or flowers.</p>

          <p>Stigma. The part of a pistil which is receptive to pollen, usually distinguished by a sticky, papillose, or hairy surface.</p>

          <p>Stipe. A stalk (generally used when no precise term such as petiole or pedicel is applicable); e.g., the short stalk on which some ovaries are elevated above the receptacle.</p>

          <p>Stipel. The stipule-like structure at the base of a leaflet.</p>

          <p>Stipule. An appendage on the stem at the base of a leaf (sometimes connate and sometimes partly or wholly adnate to the petiole). In Potamogeton appearing solitary and axillary.</p>

          <p>Stolon. An elongate above-ground (or at-ground) stem, growing ± horizontally and rooting at the nodes and/or apex.</p>

          <p>Striate. With slender lines or stripes or low ridges.</p>

          <p>Strigose. With short, straight, strongly appressed hairs.</p>

          <p>Style. The portion of a pistil between the ovary and the stigma—often narrow and elongate.</p>

          <p>Sub-. A prefix meaning almost, not quite, just below; e.g., subterminal, just below the end.</p>

          <p>Submersed. Normally occurring under water and so adapted (not merely flooded). Cf. emersed.</p>

          <p>Subspecies. A subdivision of a species. This rank is higher than the rank of variety; i.e., a subspecies may include two or more varieties, but not vice versa.</p>

          <p>Subtend. Occur immediately below, as a bract below a flower or a pedicel.</p>

          <p>Subulate. Awl-shaped, very slender, firm, and sharp-pointed.</p>

          <p>Succulent. Fleshy, juicy.</p>

          <p>Superior. (Of an ovary) with the perianth and stamens inserted beneath it. Cf. inferior.</p>

          <p>Suture. The line or joint along which two parts are fused (and along which they may separate).</p>

          <p>Swale. A natural (unlike a ditch) ± elongate depression, at least seasonally wet.</p>

          <p>Swamp. A wet (at least seasonally) forested area. Cf. marsh.</p>

          <p>Sympetalous. With the petals united to each other (connate) for at least part of their length.</p>

          <p>Taproot. A central primary root continuing the axis of the stem into the ground.</p>

          <p>Taxon. Any taxonomically recognized unit, regardless of rank; e.g., genus, species, variety, form.</p>

          <p>Tendril. A slender coiling or twining organ, as on some vines.</p>

          <p>Tepal. One of the divisions of the perianth when the sepals and petals are similar in color, texture, and (usually) size (though usually distinguishable by position, the sepals being the outer series and the petals the inner one).</p>

          <p>Terete. Round in cross-section.</p>

          <p>Ternate. Basically divided into 3 ± equal portions (as a compound or dissected leaf). Twice- or thrice-ternate structures have the first divisions again divided in a similar fashion (whereas sometimes each of the three primary divisions is pinnate).</p>

          <p>Tetraploid. See n.</p>

          <p>Thicket. A loosely defined term for usually small areas (or narrow ones, as along a stream) with ± dense shrubs or small trees.</p>

          <p>Thorn. A sharp stiff, point derived from a shoot, sometimes branched or even with buds and leaf scars (or terminating a stem). &nbsp;</p>

          <p>Throat. In a calyx or corolla of united parts, the region where the tube and the limb join — the entrance to the tube.</p>

          <p>Tomentose. More or less densely covered with curly, matted hairs; woolly.</p>

          <p>Tomentum. More or less dense, curly, matted hairs.</p>

          <p>Tribe. A subdivision of a family, ranking above genus.</p>

          <p>Trifid. Cleft into three.</p>

          <p>Trifoliolate. With three leaflets.</p>

          <p>Truncate. Ending abruptly (at base or apex), as if cut off squarely (neither tapered nor lobed).</p>

          <p>Tube. The fused portion of a cycle of perianth parts, beyond which the calyx lobes or corolla lobes extend.</p>

          <p>Tuber. A thickened portion of rhizome or root, usually a starch-storing organ.</p>

          <p>Tubercle. A distinct enlargement or appendage, as at the summit of the achene in some sedges or on the base of the lip in <em>Platanthera flava</em>; a small ± knobby projection.</p>

          <p>Turion. A "winter-bud" of an aquatic plant, consisting of a modified branch or bud (e.g., very short compact internodes and reduced leaves).</p>

          <p>Type. In nomenclature, a specimen which fixes the application of a name; a name of a species, for example, applies at least to its type—and to all other specimens deemed to belong to the same species. If a taxon is divided into two or more, the name remains with that element which includes its type, and a new name is required for the other element(s).</p>

          <p>Umbel. An inflorescence in which the pedicels arise from the same point or nearly so; in a compound umbel, each primary ray bears an umbellet.</p>

          <p>Undulate. Wavy (vertically).</p>

          <p>Unisexual. (Of a flower) containing only stamen(s) or pistil(s); imperfect. Cf. perfect.</p>

          <p>Valvate. Meeting at the edges without overlapping. Cf. imbricate.</p>

          <p>Valve. One of the parts into which a dehiscent fruit (or other structure) splits.</p>

          <p>Variant. Any deviation from "normal" in a plant (without necessarily taxonomic recognition at any given rank).</p>

          <p>Variety. A subdivision of a species; this rank is below the rank of subspecies. Cf. subspecies.</p>

          <p>Vein. A bundle of vascular tissue; the external ridge marking the location of an underlying vein.</p>

          <p>Ventral. Pertaining to the surface (e.g., of a leaf, perigynium, etc.) toward the axis to which a structure is attached; adaxial; in relation to the ground, often the "upper" surface. Cf. dorsal.</p>

          <p>Villous. With soft, not necessarily straight, hairs — practically synonymous with pilose.</p>

          <p>Viscid. Sticky, glutinous.</p>

          <p>Viviparous. Producing propagules which may sprout or germinate where borne on the parent plant.</p>

          <p>Whorl. A ring of 3 or more similar structures around a stem or other axis (i.e., at the same node).</p>

          <p>Wing. A flat, ± thin extension or appendage on the edge or surface of an organ (as on a seed or stem). One of the lateral petals in a papilionaceous flower.</p>

          <p>Winter annual. See annual.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '../components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheGlossary',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>


</style>
