<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-content class="mt-12">
      <v-row class="mt-12"></v-row>
      <v-row class="mt-12">
        <v-col cols="3" class="mt-12">
          <v-row class="mt-12"></v-row>
          <v-row class="mt-6"></v-row>
          <NavDrawer />
        </v-col>
        <v-col class="mt-12 text-left" cols="8">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Links</p>
          <v-divider></v-divider>
          <v-row class="mt-8">
            <ul>
              <li><a href="http://www.lsa.umich.edu/herb/">University of Michigan Herbarium</a></li>
              <li><a href="http://herbarium.msu.edu/" target="_self">Michigan State University Herbarium</a></li>
              <li><a href="http://cmcherbarium.bio.cmich.edu/" target="_self">Central Michigan University Herbarium</a></li>
              <li><a href="https://www.emich.edu/biology/facilities/herbarium.php" target="_self">Eastern University Herbarium</a></li>
              <li><a href="http://www.michbotclub.org">Michigan Botanical Club</a></li>
              <li><a href="http://mnfi.anr.msu.edu/">Michigan Natural Features Inventory</a></li>
              <li><a href="http://www.michwildflowers.com/">Michigan Wildflowers</a></li>
              <li><a href="https://www.michigan.gov/dnr/0,4570,7-350-79135_79218_79615---,00.html" target="_self">Michigan DNR - Plant Species</a></li>
              <li><a href="http://www.efloras.org/flora_page.aspx?flora_id=1" target="_self">Flora North America</a></li>
            </ul>
          </v-row>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '../components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheLinks',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration:underline;
  }

</style>
