<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-content class="mt-12">
      <v-row class="mt-12"></v-row>
      <v-row class="mt-12">
        <v-col class="mt-12 text-justify" cols="10" offset="1" md="10" lg="8" offset-lg="3">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">References</p>
          <v-divider></v-divider>
        </v-col>
        <v-col cols="3">
          <NavDrawer />
        </v-col>
        <v-col class="text-justify" cols="10" offset="1" md="10" lg="8" offset-lg="3">
          <p class="reference">Adams, R. P., A. V. Gilman, M. Hickler, B. P. Streets &amp; J. P. Vanderhorst. 2016. &nbsp;First molecular evidence that <em>Juniperus communis </em>var. <em>communis </em>from the eastern hemisphere is growing in the northeastern United States. Phytologia 98: 8–16.</p>

          <p class="reference">Aedo, C. 2000. The genus <em>Geranium</em> L. (Geraniaceae) in North America. I. Annual species. Anales Jard. Bot. Madrid 58: 39–82.</p>

          <p class="reference">Akiyama, S. 1988. A revision of the genus <em>Lespedeza</em> section <em>Macrolespedeza</em> (Leguminosae). Bull. Univ. Mus. Tokyo 33. 170 pp.</p>

          <p class="reference">Albach, D. C., M. M. Martínez-Ortega, M. A. Fischer, &amp; M. W. Chase. 2004. A new classification of the tribe Veroniceae - problems and a possible solution. Taxon 53: 429–452.</p>

          <p class="reference">Alice, L. A. &amp; C. S. Campbell. 1999. Phylogeny of <em>Rubus</em> (Rosaceae) based on nuclear ribosomal DNA internal transcribed spacer region sequences Amer. J. Bot. 86: 81–97.</p>

          <p class="reference">Al-Shehbaz, I. A. &amp; B. G. Schubert. 1989. The Dioscoreaceae of the Southeastern United States. J. Arnold Arbor. 70: 57–95.</p>

          <p class="reference">Al-Shehbaz, I. A. 2003. Transfer of most North American species of <em>Arabis</em> to <em>Boechera</em> (Brassicaceae). Novon 13: 381–391.</p>

          <p class="reference">Al-Shehbaz, I. A. &amp; J. L. Zarucchi. 2008.<em> Boechera dentata</em> is the correct name for <em>B. shortii</em> (Brassicaceae). Harvard Pap. Bot. 13: 293–294.</p>

          <p class="reference">Al-Shehbaz, I. A. &amp; R. A. Price. 1998. Delimitation of the genus <em>Nasturtium</em> (Brassicaceae). Novon 8:124–126.</p>

          <p class="reference">Al-Shehbaz, I. A., M. A. Beilstein, &amp; E. A. Kellogg. 2006. Systematics and phylogeny of the Brassicaceae: an overview. Pl. Syst. Evol. 259: 89–120.</p>

          <p class="reference">Anderberg, A. A. 1994. Phylogeny of the Empetraceae, with special emphasis on character evolution in the genus <em>Empetrum</em>. Syst. Bot. 19: 35–46.</p>

          <p class="reference">Applequist, W. L. 2002. A reassessment of the nomenclature of <em>Matricaria</em> L. and <em>Tripleurospermum</em> Sch. Bip. (Asteraceae). Taxon 51: 757–761.</p>

          <p class="reference">Bailey, L. H. 1881. <em>Woodwardia angustifolia</em> in Michigan. Bulletin of the Torrey Botanical Club&nbsp;8: 47.</p>

          <p class="reference">Ballard, H. E. 1990. Hybrids among three caulescent violets, with special reference to Michigan. Michigan Botanist 29: 43–54.</p>

          <p class="reference">Ballard, H. E. 1994. Violets of Michigan. Michigan Botanist 33: 131–199.</p>

          <p class="reference">Barkworth, M. E., J. J. N. Campbell, &amp; B. Salomon. 2007. <em>Elymus</em>. Vol. 24. pp. 288–343. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2007. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Barneby, R. C. 1991. Sensitivae censitae: a description of the genus <em>Mimosa</em> Linnaeus (Mimosaceae) in the New World. Mem. New York Bot. Gard. 65. 835 pp.</p>

          <p class="reference">Barnes, B. V. &amp; B. P. Dancik. 1985. Characteristics and origin of a new birch species, <em>Betula murrayana</em>, from southeastern Michigan. Canad. J. Bot. 63: 223–226.</p>

          <p class="reference">Bateman, R. M., A. M. Pridgeon, &amp; M. W. Chase. 1997. Phylogenetics of subtribe Orchidinae (Orchidoideae, Orchidaceae) based on nuclear ITS sequences: 2. Infrageneric relationships and reclassification to achieve monophyly of <em>Orchis</em> sensu stricto. Lindleyana 12: 113–141.</p>

          <p class="reference">Bateman, R. M., P. M. Hollingsworth, J. Preston, Y.-B. Luo, A. M. Pridgeon, &amp; M. W. Chase. 2003. Molecular phylogenetics and evolution of Orchidinae and selected Habenariinae (Orchidaceae). Bot. J. Linn. Soc. 142: 1–40.</p>

          <p class="reference">Bateman, R. M., K. E. James, Y.-B. Luo, R. K. Lauri, T. Fulcher, P. J. Cribb, &amp; M. W. Chase. 2009. Molecular Phylogenetics and Morphological Reappraisal of the <em>Platanthera</em> Clade (Orchidaceae: Orchidinae) Prompts Expansion of the Generic Limits of <em>Galearis</em> and <em>Platanthera</em>. Ann. Bot. 104: 431–445.</p>

          <p class="reference">Beardsley, P. M. &amp; R. G. Olmstead. 2002. Redefining Phrymaceae: The placement of <em>Mimulus</em>, tribe Mimuleae, and <em>Phryma</em>. Amer. J. Bot. 89: 1093–1102.</p>

          <p class="reference">Beitel, J. M. 1979. The Clubmosses <em>Lycopodium sitchense</em> and <em>L. sabinifolium </em>in the Upper Great Lakes Region. Michigan Botanist 18: 3–13.</p>

          <p class="reference">Belyaeva, I. 2009. Nomenclature of <em>Salix fragilis</em> L. and a New Species, <em>S. euxina</em> (Salicaceae) Taxon Vol. 58: 1344-1348.</p>

          <p class="reference">Blanché, C. &amp; J. Molero. 1993.Taxonomic and nomenclatural notes on <em>Delphinium</em> L. Bot. J. Linn. Soc.113: 125–133.</p>

          <p class="reference">Bolmgren, K. &amp; B. Oxelman. 2004.Generic limits in <em>Rhamnus</em> L. s.l. (Rhamnaceae) inferred from nuclear and chloroplast DNA sequence phylogenies. Taxon 53: 383–390.</p>

          <p class="reference">Boufford, D. E. 2005. <em>Circaea lutetiana sensu lato</em> (Onagraceae) reconsidered. Harvard Pap. Bot. 9:255–256.</p>

          <p class="reference">Brouillet, L., J. C. Semple, G. A. Allen, K. L. Chambers, &amp; S. D. Sundberg. 2006. <em>Symphyotrichum</em>. Vol. 20. pp. 464–539. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2006. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Brown, D. F. M. 1964. &nbsp;A monographic study of the fern genus <em>Woodsia</em>. Beihefte zur Nova Hedwigia 16: 1–154.&nbsp;</p>

          <p class="reference">Brummitt, R. K. 1986. Report of the Committee for Spermatophyta: 30. Taxon 35: 562.</p>

          <p class="reference">Brummitt, R. K 2007. Report of the Nomenclature Committee for Vascular plants 59. Taxon 56: 1291.</p>

          <p class="reference">Burgess, K. S. &amp; B. C. Husband. 2006. Habitat differentiation and the ecological costs of hybridization: The effects of introduced mulberry (<em>Morus alba</em>) on a native congener (<em>M. rubra</em>). J. Ecol. 94: 1061–1069.</p>

          <p class="reference">Cantino, P. D. &amp; S. J. Wagstaff. 1998. A reexamination of North American <em>Satureja </em>s.l. (Lamiaceae) in light of Molecular evidence. Brittonia 50: 63–70.</p>

          <p class="reference">Case, F. W. 1983. <em>Platanthera</em> ×<em>vossii</em>, a new natural hybrid orchid from northern Lower Michigan. Michigan Botanist 22: 141–144.</p>

          <p class="reference">Case, F. W. 1987. Orchids of the western Great Lakes region: revised edition. Bull. Cranbrook Inst. Sci. 48. 251 pp.</p>

          <p class="reference">Case, F. W. &amp; R. B. Case. 1997. Trilliums. Timber Press, Portland, Oregon. 285 pp.</p>

          <p class="reference">Case, F. W. &amp; P. M. Catling. 1983. The genus <em>Spiranthes</em> in Michigan. Michigan Botanist 22: 79–92.</p>

          <p class="reference">Catling, P. M. 1998. A synopsis of the genus <em>Proserpinaca</em> in the southeastern United States. Castanea 63: 408–414.</p>

          <p class="reference">Catling, P. M. 2005. Identification and Status of Black Pine, <em>Pinus nigra</em>, and Mugo Pine, <em>Pinus mugo</em>,in Ontario. Can. Field-Naturalist 119: 224–232.</p>

          <p class="reference">Catling, P. M. and G. Mitrow. 2005. The dune race of <em>Vitis riparia</em> in Ontario: Taxonomy, conservation and biogeography. Canad. J. Pl. Sci. 85: 407–415.</p>

          <p class="reference">Catling, P. M. &amp; K. W. Spicer. 1987. The perennial <em>Juncus </em>of section <em>Poiophylli</em> in the Canadian prairie provinces. Canad. J. Bot. 65: 750–760.</p>

          <p class="reference">Catling, P. M. &amp; K. W. Spicer. 1988. The separation of <em>Betula populifolia</em> and <em>Betula pendula</em> and their status in Ontario. Can. J. Forest Res. 18: 1017–26.</p>

          <p class="reference">Catling, P. M. &amp; V. R. Catling. 1997. Morphological discrimination of <em>Platanthera huronensis</em> in the Canadian Rocky Mountains. Lindleyana 12: 72–78.</p>

          <p class="reference">Catling, P. M., G. Mitrow, &amp; L. Black. 2007. Analysis of stem color and correlated morphological characters for grouping <em>Phragmites</em> (Poaceae) taxa in eastern Ontario. Rhodora 109: 125–136.</p>

          <p class="reference">Catling, P. M., S. M. McKay-Kuja, &amp; G. Mitrow. 1999. Rank and typification in North American dwarf cherries, and a key to the taxa. Taxon 48: 483–488.</p>

          <p class="reference">Chapman, K. A. 1986. Alpine Hedysarum (<em>Hedysarum alpinum</em>) discovered in Michigan. Michigan Botanist 25: 45–46.</p>

          <p class="reference">Chiapella, J. 2007. A molecular phylogenetic study of <em>Deschampsia </em>(Poaceae: Aveneae) inferred from nuclear ITS and plastid <em>trnL </em>sequence data: support for the recognition of <em>Avenella </em>and <em>Vahlodea</em>. Taxon 56: 55–64.</p>

          <p class="reference">Cholewa, A. F. &amp; D. M. Henderson. 2002. <em>Sisyrinchium</em>. Vol. 26. pp. 351–371. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2002. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Christenhusz, M. J. M., X.-C. Zhang &amp; H. Schneider. 2011<strong>. </strong>A linear sequence of extant families and genera of lycophytes and ferns. Phytotaxa 19: 7–54.</p>

          <p class="reference">Churchill, J. A. 1976. <em>Eleocharis atropurpurea</em> in Michigan. Michigan Botanist 15: 182.</p>

          <p class="reference">Clemants, S. E. &amp; S. L. Mosyakin. 2003. <em>Chenopodium</em>. Vol. 4. pp. 275–299. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2003. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Cochrane, T. S. 2000. The distribution of <em>Carex platyphylla</em> (Cyperaceae: sect. <em>Careyanae</em>) with emphasis on the Western Great Lakes region. Michigan Botanist 37: 3–11.</p>

          <p class="reference">Cohen, J. I. &amp; J. I. Davis. 2009. Nomenclatural changes in <em>Lithospermum</em> (Boraginaceae) and related taxa following a reassessment of phylogenetic relationships. Brittonia 61: 101–111.</p>

          <p class="reference">Cole, E. J. 1901. Grand Rapids Flora. A. Van Dort, Grand Rapids. 170 pp.</p>

          <p class="reference">Columbus, J. T. 1999. An Expanded Circumscription of <em>Bouteloua </em>(Gramineae: Chloridoideae): New Combinations and Names. Aliso 18: 61–65.</p>

          <p class="reference">Compton, J. A., A. Culham, &amp; S. L. Jury. 1998. Reclassification of <em>Actaea</em> to include <em>Cimicifuga </em>and <em>Souliea</em> (Ranunculaceae): phylogeny inferred from morphology, nrDNA ITS, and cpDNA trnL-F sequence variation. Taxon 47: 593–634.</p>

          <p class="reference">Costea, M., F. J. Tardif, &amp; H. R. Hinds. 2005. <em>Polygonum</em>. Vol. 5. pp. 547–571. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2005. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Cranfill, R. 1983. The Distribution of <em>Woodwardia areolata</em>. American Fern Journal 73: 46–52.</p>

          <p class="reference">Crow, G. E. 2017. Emma Cole's 1901 Grand Rapids Flora: Nomenclaturally Updated and Revised. Great Lakes Botanist 56: 98 – 176.</p>

          <p class="reference">Culley T. M. &amp; &nbsp;N.&nbsp;A. Hardiman. 2007. The Beginning of a New Invasive Plant: A History of the Ornamental Callery Pear in the United States. BioScience 57: 956-964.</p>

          <p class="reference">Cusick, A. W. 2002. Noteworthy collections: Michigan. Castanea 67: 216–217.</p>

          <p class="reference">Cusick, A. W., R. K. Rabeler, &amp; M. J. Oldham. 2002. Hard or Fairgrounds Grass (<em>Sclerochloa dura</em>, Poaceae) in the Great Lakes Region. Michigan Botanist 41: 125–135.</p>

          <p class="reference">Darbyshire, S. J. 1993. Realignment of <em>Festuca</em> Subgenus <em>Schedonorus</em> with the Genus Lolium (Poaceae). Novon 3: 239<span style="line-height: 20.8px;">–</span>243.</p>

          <p class="reference">Darbyshire, S. J. &amp; L. E. Pavlick. 1997. Nomenclatural Notes on North American Grasses. Phytologia 83: 73–78.</p>

          <p class="reference">Darbyshire, S. J. &amp; L. E. Pavlick. 2007. <em>Festuca</em>. Vol. 24. pp. 389–443. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2007. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Darbyshire, S. J. &amp; J. Cayouette. 1995. Identification of the species in the <em>Panicum capillare</em> complex (Poaceae) from eastern Canada and adjacent New York State. Canad. J. Bot. 73: 333–348.</p>

          <p class="reference">Delisle-Oldham, M., M. J. Oldham, &amp; P. M. Catling. 2008. Taxonomic recognition of <em>Ammophila champlainensis</em> and morphological variation in northeastern North American <em>Ammophila</em> (Poaceae). Rhodora 110: 129–156.</p>

          <p class="reference">Dister, D. C. 2010. Noteworthy collection: <em>Arctium lappa</em>, Michigan. Michigan Botanist 49: 99–102.</p>

          <p class="reference">Dewey, C. 1834. Caricography. Amer. J. of Sci. Arts, ser. 1, 25: 140–146.</p>

          <p class="reference">Dietrich, W., W. L. Wagner, &amp; P. H. Raven. 1997. Systematics of <em>Oenothera</em> section <em>Oenothera</em> subsection <em>Oenothera</em> (Onagraceae). Syst. Bot. Monogr. 50: 1–234.</p>

          <p class="reference">Dore, W. G. &amp; J. McNeill. 1980. Grasses of Ontario. Agriculture Canada Research Branch Monograph 26. 566 pp.</p>

          <p class="reference">Drife, D. C., &amp; J. E. Drife. 1990. Oliver A. Farwell’s Early Pteridophyte Records from the Keweenaw Peninsula. Michigan Botanist 29: 89–96.</p>

          <p class="reference">Duffy, D. C. 1990. Land of Milk and Poison. Nat. Hist. July 1990: 4–8.</p>

          <p class="reference">Dunlop, D. A. &amp; G. E. Crow. 1999. The taxonomy of <em>Carex</em> section <em>Scirpinae</em> (Cyperaceae). Rhodora 101: 163–199.</p>

          <p class="reference">Ehrendorfer, F. &amp; M.H.J. Barfuss, 2014. Paraphyly and Polyphyly in the Worldwide Tribe Rubieae (Rubiaceae): Challenges for Generic Delimitation. Annals of the Missouri Botanical Garden, 100(1-2):79-88.</p>

          <p class="reference">Emadzade, K., C. Lehnebach, P. Lockhart, &amp; E. Hörandl. 2010. A molecular phylogeny, morphology and classification of genera of Ranunculeae (Ranunculaceae). Taxon 59: 809–828.</p>

          <p class="reference">England, W. H. &amp; R. J. Tolbert. 1964. A Seasonal Study of the Vegetative Shoot Apex of <em>Myriophyllum heretophyllum</em>. Amer. J. Bot. 51: 349–353.</p>

          <p class="reference">Ertter, B. J. 2007. Generic realignments in tribe <em>Potentilleae</em> and revision of <em>Drymocallis</em> (Rosoideae: Rosaceae) in North America. J. Bot. Res. Inst. Texas 1: 31–46.</p>

          <p class="reference">Evrard, C. &amp; C.V. Hove. 2004. Taxonomy of the American <em>Azolla</em> species (Azollaceae) a critical review. Systematics and Geography of Plants 74: 301–318.</p>

          <p class="reference">Fang, R.-C. &amp; R. K. Brummitt. 1995. <em>Calystegia</em>. Vol. 16. pp. 286–289. <em>In</em>: Z.-Y. Wu &amp; P. H. Raven (Eds.). 1995. Flora of China. Science Press (Beijing) and Missouri Botanical Garden (St. Louis).</p>

          <p class="reference">Farwell, O. A. 1904. Contributions to the Botany of Michigan. No. 8. Rep. (Annual) Michigan Acad. Sci. 6: 200-214.</p>

          <p>Farwell, O.A. 1919. Notes on the Flora of Michigan. Rep. (Annual) Michigan Acad. Sci. 20: 163–193.&nbsp;</p>

          <p class="reference">Farwell, O. A. 1924. Notes on the Michigan Flora Part VI. Pap. Michigan Acad. Sci. 3: 87–109.</p>

          <p class="reference">Farwell, O. A. 1926. Botanical Gleanings in Michigan, III. Amer. Midl. Naturalist 10: 19–46.</p>

          <p class="reference">Farwell, O. A. 1927. Botanical Gleanings in Michigan, IV. Amer. Midl. Naturalist 10: 199–219.</p>

          <p class="reference">Farwell, O. A. 1930. Botanical Gleanings in Michigan, VI. Amer. Midl. Naturalist 12: 113–134.</p>

          <p class="reference">Fernald, M. L. 1945. Botanical Specialties of the Seward Forest and adjacent Areas of Southeastern Virginia. Rhodora 47: 93–142.</p>

          <p class="reference">Finot, V. L., P. M. Peterson, R. J. Soreng, &amp; F. O. Zuloaga. 2005. A revision of <em>Trisetum</em> and <em>Graphephorum </em>(Poaceae: Pooideae: Aveninae) in North America north of Mexico. Sida 21: 1419–1453.</p>

          <p class="reference">Frajman, B., N. Heidari, &amp; B. Oxelman. 2009. Phylogenetic relationships of <em>Atocion</em> and <em>Viscaria</em> (Sileneae, Caryophyllaceae) inferred from chloroplast, nuclear ribosomal, and low copy gene DNA sequences. Taxon 58: 811–824.</p>

          <p class="reference">Freckmann, R. W. &amp; M. G. Lelong. 2002. Nomenclatural changes and innovations in <em>Panicum</em> and <em>Dichanthelium</em> (Poaceae: Paniceae). Sida 20: 161–174.</p>

          <p class="reference">Freckmann, R. W. &amp; M. G. Lelong.&nbsp;&nbsp;2003.&nbsp; <em>Dichanthelium</em>. Vol. 25. pp. 406–450.&nbsp;<em>In</em>: Flora of North America Editorial Committee (Eds.). 2003. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Freudenstein, J. V. &amp; J. K. Marr. 1986. The discovery of <em>Draba glabella</em> in Michigan with notes on <em>Draba </em>from Isle Royale National Park. Michigan Botanist 25: 109–111.</p>

          <p class="reference">Fritsch, P. W. &amp; S. D. Lucas. 2000. Clinal variation in the <em>Halesia carolina</em> complex (Styracaceae). Syst. Bot. 25: 197–210.</p>

          <p class="reference">Ganders, F. R., M. Berbee, &amp; M. Pirseyedi. 2000. ITS base sequence phylogeny in <em>Bidens </em>(Asteraceae): evidence for the continental relatives of Hawaiian and Marquesan <em>Bidens</em>. Syst. Bot. 25: 122–133.</p>

          <p class="reference">Gardner, R. L. 2008. Noteworthy collection: <em>Hydrocharis morsus-ranae</em>, Ohio. Michigan Botanist 47: 77–78.</p>

          <p class="reference">Geltman, D. V. 1998. Taxonomic notes on <em>Euphorbia</em> <em>esula</em> (Euphorbiaceae) with special reference to its occurrence in the east part of the Baltic region. Ann. Bot. Fenn. 35: 113–117.</p>

          <p class="reference">Gerdes, L. B. 1998. <em>Aster nemoralis</em> and the apparent hybrid <em>Aster nemoralis</em> × <em>Aster umbellatus</em> in Houghton County, Michigan. Michigan Botanist 37: 17–20.</p>

          <p class="reference">Gereau, R. E. &amp; R. K. Rabeler. 1984. Eurasian introductions to the Michigan Flora: 2. Michigan Botanist 23: 51–56.</p>

          <p class="reference">Gertz, A. K., J. Eisenbach, &amp; G. K. Walker. 1994. SEM identification of Michigan cattails, <em>Typha latifolia</em> and <em>Typha angustifolia</em>, and their hybrid, <em>Typha</em> ×<em>glauca</em>. Michigan Botanist 33: 27–36.</p>

          <p class="reference">Gil-Ad, N. L. &amp; A. A. Reznicek. 1997. Evidence for hybridization of two Old World <em>Rhamnus</em> species; <em>R. cathartica</em> and <em>R. utilis</em> (Rhamnaceae); in the New World. Rhodora 99: 1–22.</p>

          <p class="reference">Gil-Ad, N. L. 1997. Systematics of <em>Viola </em>subsection <em>Boreali-Americanae</em>. Boissiera. 53: 5–130.</p>

          <p class="reference">Gillis, W. T. 1980. <em>Wisteria</em> in the Great Lakes Region. Michigan Botanist 19: 79–83.</p>

          <p class="reference">Gleason, H. A. &amp; A. Cronquist. 1991. Manual of vascular plants of northeastern United States and adjacent Canada. 2nd edition. New York Botanical Garden, New York. lxxv + 910 pp.</p>

          <p class="reference">Greuter, W. &amp; T. Raus. 1985. Med-Checklist Notulae 11. Willdenowia 15: 61–84.</p>

          <p class="reference">Greuter, W., W. Gutermann, &amp; S. Talavera. 2006. A preliminary conspectus of <em>Scorzoneroides </em>(Compositae, Cichorieae)<em> </em>with validation of the required new names. Willdenowia 36: 689–692.</p>

          <p class="reference">Grey-Wilson, C. 1993. Poppies. A Guide to the Poppy Family in the Wild and in Cultivation. Timber Press, Portland Oregon. 208 pp.&nbsp;</p>

          <p class="reference">Grimm, G. W. &amp; T. Denk. 2010. The reticulate origin of modern plane trees (<em>Platanus</em>, Platanaceae): a nuclear marker puzzle. Taxon 59: 134–147.</p>

          <p class="reference">Guala, G. F. II. 1988. <em>Poa bulbosa </em>L. (Poaceae) in Michigan. Michigan Botanist 27: 13–14.</p>

          <p class="reference">Haberle, R. C., A. Dang, T. Lee, C. Peñaflor, H. Cortes-Burns, A. Oestreich, L. A. Raubeson, N. Cellinese, E. J. Edwards, S. T. Kim, W. M. M. Eddie, &amp; R. K. Jansen. 2009. Taxonomic and biogeographical implications of a phylogenetic analysis of the Campanulaceae based on three chloroplast genes. Taxon 58: 715–734.</p>

          <p class="reference">Hagen, K. B. von &amp; J. W. Kadereit. 2002. Phylogeny and flower evolution of the Swertiinae (Gentianaceae-Gentianae): Homoplasy and the principle of variable proportions. Syst. Bot. 27: 548–572.</p>

          <p class="reference">Hämet-Ahti, L. 1980a. The <em>Juncus effusus</em> aggregate in eastern North America. Ann. Bot. Fenn. 17: 183–191.</p>

          <p class="reference">Hämet-Ahti, L. 1980b. <em>Juncus <em>alpinoarticulatus</em></em>: the legitimate name for <em>Juncus alpinus</em>. Ann. Bot. Fenn. 17: 341–342.</p>

          <p class="reference">Hansen, H. V. &amp; K. I. Christensen. 2009. The common chamomile and the scentless mayweed revisited. Taxon 58: 261–264.</p>

          <p class="reference">Harris, A. G. &amp; J. K. Marr. 2009. <em>Caltha natans</em> Pallas (Ranunculaceae) New for Michigan and Thunder Bay District Ontario. Michigan Botanist 48: 72–77.</p>

          <p class="reference">Hart, T. C. &amp; T. H. Ives. 2013. Preliminary Starch Grain Evidence of Ancient Stone Tool Use at the Early Archaic (9,000 B.P.) Site of Sandy Hill, Mashantucket, Connecticut. Ethnobiology Letters 4:87‐95.</p>

          <p class="reference">Hayasaka, E. 2012. Delineation of <em>Schoenoplectiella </em>Lye (Cyperaceae), a genus newly segregated from <em>Schoenoplectus </em>(Rehb.) Palla. J. Japan. Bot. 87: 169–186.</p>

          <p class="reference">Haynes, R. R. 2000. <em>Najas</em>. Vol. 22. pp. 78–83. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2000. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Hellquist, C. B., C. T. Philbrick, &amp; R. L. Hilton. 1988. The taxonomic status of <em>Potamogeton lateralis</em> Morong (Potamogetonaceae). Rhodora 90: 15–19.</p>

          <p class="reference">Hess, W. J. &amp; R. C. Sivinski. 1995. A new species of <em>Zigadenus</em> (Liliaceae) from New Mexico, with additional comments on the section <em>Anticlea</em>. Sida 16: 389–400.</p>

          <p class="reference">Hess, W. J. 1986. <em>Wolffia papulifera</em> Thompson (Lemnaceae) new to Michigan. Sida 11: 407–411.</p>

          <p class="reference">Hermann, F. J. 1951. Additions to the Genus <em>Carex</em> in Michigan. Amer. Midl. Naturalist 46: 482–492.</p>

          <p class="reference">Hidalgo, O., N. Garcia-Jacas, T. Garnatje, &amp; A. Susanna. 2006. Phylogeny of <em>Rhaponticum</em> (Asteraceae, Cardueae–Centaureinae) and Related Genera Inferred from Nuclear and Chloroplast DNA Sequence Data: Taxonomic and Biogeographic Implications. Ann. Bot. 97: 705–714.</p>

          <p class="reference">Hipp, A. L. &amp; J. A. Weber. 2008. Taxonomy of Hill's oak (<em>Quercus ellipsoidalis</em>: Fagaceae): Evidence from AFLP data. Syst. Bot. 33: 148–158.</p>

          <p class="reference">Hipp, A. L. 2010. Hill’s Oak: The Taxonomy and Dynamics of a Western Great Lakes Endemic. Arnoldia 67: 2–14.</p>

          <p class="reference">Hiskes, P. D. &amp; D. P. Warners. 2009. Extirpated <em>Glyceria acutiflora</em> Newly Discovered in Kent County, Michigan. Michigan Botanist 48: 78–82.</p>

          <p class="reference">Hough, M.&nbsp; 2018.&nbsp;<em>Geum</em> ×<em>cortlandicum</em> (Rosaceae), a new natural hybrid plus three <em>Geum urbanum</em> hybrids new to the flora of New York.&nbsp; Phytoneuron 2018-59: 1–9.</p>

          <p class="reference">Isely, D. 1983. The <em>Desmodium paniculatum</em> (L.) DC. (Fabaceae) complex revisited. Sida 10: 142–158.</p>

          <p class="reference">Isely, D. 1998. Native and naturalized Leguminosae (Fabaceae) of the United States (exclusive of Alaska and Hawaii). Monte L. Bean Life Science Museum, Provo, Utah. xi +1007 pp.&nbsp;</p>

          <p class="reference">Jakubowski, A. R., R. D. Jackson, &amp; M. D. Casler. 2014. History of Reed Canarygrass in North America: Persistence of Natives among Invading Eurasian Populations. Crop Sci. 54: 210–219.</p>

          <p class="reference">Jones, A. G. 1979. A study of wild leek, and the recognition of <em>Allium burdickii</em> (Liliaceae). Syst. Bot. 4: 29–43.</p>

          <p class="reference">Judziewicz, E. J., F. H. Utech, &amp; W. Mackinnon. 1997. <em>Prosartes</em> (<em>Disporum</em>) <em>trachycarpa</em> (Liliaceae) in Isle Royale National Park: New to Michigan and the eastern United States. Michigan Botanist 36: 63–72.</p>

          <p class="reference">Kallunki, J. A. 1976. Population studies in <em>Goodyera </em>(Orchidaceae) with emphasis on the hybrid origin of <em>G. tesselata</em>. Brittonia 28: 53–75.</p>

          <p class="reference">Kaplan, Z. 2008. A Taxonomic Revision of <em>Stuckenia </em>(Potamogetonaceae) in Asia, with Notes on the Diversity and Variation of the Genus on a Worldwide Scale. Folia Geobot. 43: 159–234.</p>

          <p class="reference">Kaplan, Z., J. Fehrer, &amp; C. B. Hellquist. 2009. New Hybrid Combinations Revealed by Molecular Analysis: The Unknown Side of North American Pondweed Diversity (<em>Potamogeton</em>). Syst. Bot. 34: 625–642.</p>

          <p class="reference">Kartesz, J. T. &amp; K. N. Gandhi. 1993. <em>Osmorhiza berteroi</em> (Apiaceae): the correct name for mountain sweet-cicely. Brittonia 45: 181–182.</p>

          <p class="reference">Kiefer, C., C. Dobes, &amp; M. A. Koch. 2009. <em>Boechera</em> or not? Phylogeny and phylogeography of eastern North American <em>Boechera</em> species (Brassicaceae). Taxon 58: 1109–1121.</p>

          <p class="reference">Kim, S., D. Crawford, and R. Jansen. 1996. Phylogenetic relationships among the genera of the subtribe Sonchinae (Asteraceae): evidence from ITS sequences. Syst. Bot. 21: 417–432.</p>

          <p class="reference">Kirschbaum, C. D. 2007. The taxonomy of <em>Carex trisperma</em> (Cyperaceae). J. Bot. Res. Inst. Texas 1: 389–405.</p>

          <p class="reference">Kirschner, J., L. Kirschnerová, &amp; J. Štĕpánek. 2007. Plant Names from the Czech Republic. Preslia 79: 323–365.</p>

          <p class="reference">Knapp, W. M. &amp; R. F. C. Naczi. 2008. Taxonomy, morphology, and geographic distribution of <em>Juncus longii</em> (Juncaceae). Syst. Bot. 33: 685–694.</p>

          <p class="reference">Korban, S. S. &amp; R. M. Skirvin. 1984. Nomenclature of the cultivated apple. Hort. Sci. 19: 177–180.</p>

          <p class="reference">Kowal, R. R., E. J. Judziewicz, &amp; J. Edwards. 2011. <em>Packera insulae-regalis</em> (Asteraceae, Senecioneae), a new species endemic to Isle Royale, Michigan, U.S.A. Brittonia 63: 343–354.</p>

          <p class="reference">Krause, J. G. 2012. <em>Lygodium palmatum</em>. Noteworthy Collection. Michigan. Michigan Botanist 51: 117-120.&nbsp;</p>

          <p class="reference">Kron, K. A. &amp; W. S. Judd. 1990. Phylogenetic relationships within the Rhodoreae (Ericaceae) with specific comments on the placement of <em>Ledum</em>. Syst. Bot. 15: 57–68.</p>

          <p class="reference">Kubitzki, K. &amp; C. Bayer, eds. 2003. The families and genera of vascular plants. V. Flowering plants - Dicotyledons - Malvales, Capparales, and nonbetalain Caryophyllales. Springer, Berlin. 418 pp.</p>

          <p class="reference">Landolt, E. 1986. Biosystematic investigations in the family of duckweeds (Lemnaceae) (vol. 2.) Veroff. Geobot. Inst., Rubel 1. 71: 566 pp.</p>

          <p class="reference">Larson, B. M. H. &amp; P. M. Catling. 1996. The separation of <em>Eleocharis obtusa</em> and <em>Eleocharis ovata </em>(Cyperaceae) in eastern Canada. Canad. J. Bot. 74: 238–242.</p>

          <p class="reference">Laureto, P. J. &amp; J. S. Pringle. 2011 ("2010"). S<em>olidago vossii</em> (Asteraceae), A new species of Goldenrod from Northern Michigan. Michigan Botanist 49: 105–117.</p>

          <p class="reference">Leege, L. M. &amp; P. G. Murphy. 2001. Ecological effects of the non-native <em>Pinus nigra</em> on sand dune communities. Canad. J. Bot. 79: 429–437.</p>

          <p class="reference">Lehtonen, S. 2009. Systematics of the Alismataceae—A morphological evaluation. Aquatic Bot. 91: 279–290.</p>

          <p class="reference">Leicht-Young, S. A., N. B. Pavlovic, R. Grundell, &amp; K. J. Frohnapple. 2008. Distinguishing Native (<em>Celastrus scandens</em> L.) and invasive (<em>C. orbiculatus</em> Thunb.) bittersweet using morphological characters. J. Torrey Bot. Soc. 134: 441–450.</p>

          <p class="reference">Les, D. H., N. M. Murray, &amp; N. P. Tippery. 2009. Systematics of Two Imperiled Pondweeds (<em>Potamogeton vaseyi</em>,<em> P. gemmiparus</em>) and Taxonomic Ramifications for Subsection <em>Pusilli </em>(Potamogetonaceae) Syst. Bot. 34: 643–651.</p>

          <p class="reference">Lewis, W. H. 2008. <em>Rosa carolina </em>(Rosaceae) subspecies and hybrids in eastern and midwestern United States, Canada, and Mexico. Novon 18: 192–198.</p>

          <p class="reference">Li, J. H., D. L. Zhang, &amp; J. H. Alexander. 2001. Classification of tree lilacs (subgenus <em>Ligustrina,</em> <em>Syringa</em>, Oleaceae): Morphology and DNA sequence tell a similar story. Harvard Pap. Bot.5: 517–529.</p>

          <p class="reference">Lidén, M., T. Fukuhara, J. Rylander, &amp; B. Oxelman. 1997. Phylogeny and classification of Fumariaceae, with emphasis on <em>Dicentra</em> s.l., based on the plastid gene rps16 intron. Pl. Syst. Evol. 206: 411–420.</p>

          <p class="reference">Lidén, M. &amp; H. Zetterlund. 1997. <em>Corydalis</em>: a gardener's guide and a monograph of the tuberous species. Pershore, Worcestershire: Alpine Garden Society. 140 pp.</p>

          <p class="reference">Liede, S. &amp; A. Täuber. 2002. Circumscription of the genus <em>Cynanchum </em>(Apocynaceae–Asclepiadoideae). Syst. Bot. 27: 789–800.</p>

          <p class="reference">Locklear, J. H. 2011. <em>Phlox ovata</em> L. (Polemoniaceae): Clarification of the Nomenclature of the Allegheny Phlox. Castanea 76: 116–117.</p>

          <p class="reference">Luken, J. O. &amp; J. W. Thieret. 1995. Amur honeysuckle (<em>Lonicera maackii</em>: Caprifoliaceae): its ascent, decline, and fall. Sida 16: 479–503.</p>

          <p class="reference">Ma, J. &amp; A. R. Brach. 2007. The identity of cultivated <em>Phellodendron</em> (Rutaceae) in North America. J. Bot. Res. Inst. Texas 1: 357–365.</p>

          <p class="reference">Mahoney, A. M. &amp; R. R. Kowal. 2008. Three new varieties of <em>Packera paupercula</em> (Asteraceae, Senecioneae) in midwestern and southeastern North America. Novon 18: 220–228.</p>

          <p class="reference">Majure, L. C. 2010. Towards an evolutionary understanding of the <em>Opuntia humifusa</em> complex. Cactus and Succulent Journal 82: 156-163.</p>

          <p class="reference">Majure, L. C. 2012. The Evolution and Systematics of the <em>Opuntia humifusa </em>Complex. Ph.D. Thesis University of Florida. 225 pp.</p>

          <p class="reference">Majure, Lucas C., Walter S. Judd, Pamela S. Soltis, &amp; Douglas E. Soltis. 2017. Taxonomic Revision of the <em>Opuntia humifusa&nbsp;</em>Complex (Opuntieae: Cactaceae) of the Eastern United States. Phytotaxa 290: 1-65.</p>

          <p class="reference">Manns, U. K. &amp; A. A. Anderberg. 2009. New combinations and names in <em>Lysimachia</em> (Myrsinaceae) for species of <em>Anagallis</em>, <em>Pelletiera</em> and <em>Trientalis</em>. Willdenowia 39:49–54.</p>

          <p class="reference">Marcks, B. G. 1974. Preliminary reports on the flora of Wisconsin: no. 66. Cyperaceae: 2. - Sedge family: 2. The genus <em>Cyperus</em> - the umbrella sedges. Trans. Wisconsin Acad. Sci. 62: 261–284.</p>

          <p class="reference">Martínez, M. 1993. The correct application of <em>Physalis pruinosa</em> L. (Solanaceae). Taxon 42: 103–104.</p>

          <p class="reference">Mast, A. R. &amp; J. L. Reveal. 2007.Transfer of <em>Dodecatheon</em> to <em>Primula</em> (Primulaceae). Brittonia 59: 79–82.</p>

          <p class="reference">McKenna, D. D. 2004. Flora and Vegetation of Kalamazoo County, Michigan. Michigan Botanist 43: 137–359.</p>

          <p class="reference">McKenzie, P. M. &amp; D. Ladd. 1995. Status of <em>Bromus nottowayanus</em> (Poaceae) in Missouri. Missouriensis 16: 57–68.</p>

          <p class="reference">McKenzie, P. M. &amp; S. G. Smith. 2007. Status of <em>Schoenoplectus hallii</em> (Hall's bulrush) (Cyperaceae) in the United States. J. Bot. Res. Inst. Texas 1: 457–481.</p>

          <p class="reference">McKinney, L. E. 1992. A taxonomic revision of the acaulescent blue violets (Viola) of North America. Sida Bot. Misc. no.7. 60 pp.</p>

          <p class="reference">McNabb, C. D. &amp; T. R. Batterson. 1991. Occurrence of the Common Reed, <em>Phragmites australis</em>, Along Roadsides in Lower Michigan. Michigan Academician 23: 211–220.</p>

          <p class="reference">McVaugh, R., S. A. Cain &amp; D. J. Hagenah. 1953. Farwelliana: an account of the life and botanical work of Oliver Atkins Farwell, 1867–1944. Cranbrook Inst. Sci. Bull. 34. 101 pp.</p>

          <p class="reference">Mears, R. L. &amp; G. W. Libby. 1995. New Records of <em>Cyperus</em> (Cyperaceae) from Kentucky. Castanea 60: 79–82.</p>

          <p class="reference">Melville, M. R. &amp; J. K. Morton. 1982. A biosystematic study of the <em>Solidago canadensis</em> (Compositae) complex. I. The Ontario populations. Canad. J. Bot. 60: 976–997.</p>

          <p class="reference">Menapace, F. J. &amp; D. E. Wujek. 1987. <em>Carex bushii</em> Mack., a sedge new to Michigan. Michigan Botanist 26: 167–168.</p>

          <p class="reference">Metzgar, J. S., J. E. Skog, E. A. Zimmer, &amp; K. M. Pryer. 2008. The paraphyly of <em>Osmunda</em> is confirmed by phylogenetic analyses of seven plastid loci. Syst. Bot. 33: 31–36.</p>

          <p class="reference">Mladenoff, D. J. 1990. A Pacific northwest disjunct, <em>Disporum hookeri</em>, in upper Michigan. Michigan Botanist 29: 97–102.</p>

          <p class="reference">Momiyama, Y. 1977. On the correct name for a common Japanese species of <em>Ampelopsis</em>. J. Jap. Bot. 52: 29–31.</p>

          <p class="reference">Moody, M. L. &amp; D. H. Les. 2007. Geographic distribution and genotypic composition of invasive hybrid watermilfoil (<em>Myriopohyllum spicatum</em> x <em>M. sibiricum</em>) populations in North America. Biol. Invasions 9: 559–570.</p>

          <p class="reference">Moore, G., S. D. Glenn, &amp; J. Ma. 2009. Distribution of the native <em>Aralia spinosa</em> and non-native <em>Aralia elata</em> (Araliaceae) in the northeastern United States. Rhodora 111: 145–154.</p>

          <p class="reference">Mort, M. E., D. E. Soltis, P. S. Soltis, J. Francisco-Ortega, &amp; A. Santos-Guerra. 2001. Phylogenetic relationships and evolution of Crassulaceae inferred from <em>mat</em>K sequence data. Amer. J. Bot. 88: 76–91.</p>

          <p class="reference">Mosyakin, S. L. 1995. New taxa of <em>Corispermum</em> L. (Chenopodiaceae), with preliminary comments on the taxonomy of the genus in North America. Novon 5: 340–353.</p>

          <p class="reference">Mosyakin, S. L. 1996. A taxonomic synopsis of the genus<em> Salsola </em>(Chenopodiaceae) in North America. Ann. Missouri Bot. Gard. 83: 387–395.</p>

          <p class="reference">Mosyakin, S. L. 2005. <em>Rumex</em>. Vol. 5. pp. 489–533. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2005. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Mulligan, G. A. 1978. <em>Barbarea stricta </em>Andrz., a new introduction to Quebec. Naturaliste Canad. 105:297–298.</p>

          <p class="reference">Naczi, R. F. C. &amp; J. W. Thieret. 1996. The Gold-Cone Tamarack (<em>Larix laricina</em> forma <em>lutea</em>, Pinaceae) in Pennsylvania. Bartonia 59: 123–124.</p>

          <p class="reference">Nesom, G. L. 2001. An anomalous population of <em>Aster</em> (Asteraceae: Astereae) sensu lato in Michigan. Sida 19: 625–632.</p>

          <p class="reference">Nesom, G. L. 2010a. Notes on <em>Fraxinus profunda</em> (Oleaceae). Phytoneuron 2010-32: 1–6.</p>

          <p class="reference">Nesom, G. L. 2010b. <em>Fraxinus biltmoreana</em> and<em> Fraxinus smallii</em> (Oleaceae), forest trees of the eastern United States. Phytoneuron 2010-51: 1–30.</p>

          <p class="reference">Neyland, R. &amp; M. Hennigan. 2004. Systematic relationships of <em>Monotropa uniflora</em> (Ericaceae) inferred from large ribosomal subunit (26S) rRNA gene sequences. Castanea 69: 265–271.</p>

          <p class="reference">O’Kane, S. L. Jr. &amp; I. A. Al-Shehbaz. 1997. Synopsis of <em>Arabidopsis</em> (Brassicaceae). Novon 7: 323–327.</p>

          <p class="reference">Ohashi, H. &amp; R. R. Mill. 2000. <em>Hylodesmum</em>, a new name for <em>Podocarpium </em>(Leguminosae). Edinburgh J. Bot. 57: 171–188.</p>

          <p class="reference">Ohi-Toma, T., T. Sugawara, H. Murata, S. Wanke, C. Neinhuis, &amp; J. Murata. 2006. Molecular phylogeny of <em>Aristolochia </em>sensu lato (Aristolochiaceae) based on sequences of <em>rbcL</em>, <em>matK</em>, and <em>phyA </em>genes, with special reference to differentiation of chromosome numbers. Syst. Bot. 31: 481–492.</p>

          <p class="reference">Oldham, M. J. and I. D. Macdonald. 2015. Tall Annual Willowherb (<em>Epilobium brachycarpum</em> C. Presl) in Ontario, Canada. Canadian Field-Naturalist 129: 268–272.</p>

          <p class="reference">Padgett, D. J. 2007. A Monograph of <em>Nuphar </em>(Nymphaeaceae). Rhodora 109: 1–95.</p>

          <p class="reference">Parfitt, B. D. &amp; C. A. Wade. 2000. Noteworthy collection: <em>Pinus nigra</em>, Michigan. Michigan Botanist 39: 38–39.</p>

          <p class="reference">Paun, O., C. Lehnebach, J. T. Johansson, P. Lockhart, &amp; E. Hörandl. 2005. Phylogenetic relationships and biogeography of <em>Ranunculus</em> and allied genera <em>(Ranunculaceae)</em> in the Mediterranean region and in the European Alpine System. Taxon 54: 911–930.</p>

          <p class="reference">Penskar, M. R &amp; B. S. Walters, 2016. First Report of <em>Hypericum adpressum</em> in Michigan. Michigan Botanist 55: 100–103.</p>

          <p class="reference">Peralta, I. E., D. M. Spooner, &amp; S. Knapp. 2008. Taxonomy of wild tomatoes and their relatives (<em>Solanum </em>sect. <em>Lycopersicoides</em>, sect. <em>Juglandifolia</em>, sect. <em>Lycopersicon</em>; Solanaceae). Syst. Bot. Monogr. 84: 1–186.</p>

          <p class="reference">Phipps, J. B. 2005. A review of hybridization in North American hawthorns - Another look at "the <em>Crataegus </em>problem." Ann. Missouri Bot. Gard. 92: 113–126.</p>

          <p class="reference">Phipps, J. B., R. J. O’Kennon, &amp; R. W. Lance. 2003. Hawthorns and Medlars. Timber Press, Portland, Oregon. 139pp.</p>

          <p class="reference">Phipps, J. B., S. Cafferty, &amp; J. A. Macklin. 2003. Lectotypification of <em>Crataegus coccinea</em> L. and its conspecificity with <em>C. pedicellata</em> Sarg. (Rosaceae). Taxon 52: 337–338.</p>

          <p class="reference">Pinno, B.&nbsp;D. &amp; R. C. Errington.&nbsp;2016. Burn Severity Dominates Understory Plant Community Response to Fire in Xeric Jack Pine Forests. Forests 2016, 7(4), 83; https://doi.org/10.3390/f7040083</p>

          <p class="reference">Pippen, R. W. 1966. <em>Lygodium palmatum</em>, the climbing fern, in Michigan. Michigan Botanist 5: 64–66.</p>

          <p class="reference">Post, A. R., A. Krings, W. A. Wall, &amp; J. C. Neal. 2009. Introduced lesser celandine (<em>Ranunculus ficaria</em>, Ranunculaceae) and its putative subspecies in the United States: A morphometric analysis. J. Bot. Res. Inst. Texas 3: 193–209.</p>

          <p class="reference">Posto, A. L. &amp; L. A. Prather. 2003. The evolutionary and taxonomic implications of RAPD data on the genetic relationships of <em>Mimulus michiganensis</em> (comb. et stat. nov.: Scrophulariaceae). Syst. Bot. 28: 172–178.</p>

          <p class="reference">Powell, M., V. Savolainen, P. Cuenoud, J. F. Manen, &amp; S. Andrews. 2000. The mountain holly (<em>Nemopanthus mucronatus</em>: Aquifoliaceae) revisited with molecular data. Kew Bull. 55: 341–347.</p>

          <p class="reference">Pridgeon, A. M., P. Cribb, M. W. Chase, &amp; F. N. Rasmussen, Eds. 2005. Genera Orchidacearum Volume 4 Epidendroideae (Part 1). Oxford University Press, Oxford. xxii + 672 pp.</p>

          <p class="reference">Pringle, J. S. 2002. Nomenclature of the narrow-leaved fringed gentian of the Great Lakes Region, <em>Gentianopsis virgata</em> (Raf.) Holub (Gentianaceae). Michigan Botanist 41: 137–140.</p>

          <p class="reference">Pringle, J. S. 2007. Authorship of the name <em>Centaurium pulchellum</em> (Gentianaceae). Michigan Botanist 46: 63–64.</p>

          <p class="reference">Pringle, J. S. 2011. Nomenclature of the Thicket Creeper, <em>Parthenocissus inserta</em> (Vitaceae). Michigan Botanist 49: 73–78.</p>

          <p class="reference">Pryer, K. M. &amp; L. R. Phillippe. 1989. A synopsis of the genus <em>Sanicula</em> (Apiaceae) in eastern Canada. Canad. J. Bot. 67: 694–707.</p>

          <p class="reference">Pryer, K. M. &amp; C. H. Haufler. 1993. Isozymic and Chromosomal Evidence for the Allotetraploid Origin of <em>Gymnocarpium dryopteris</em> (Dryopteridaceae). Syst. Bot. 18: 150–172.</p>

          <p class="reference">Rabeler, R. K. &amp; A. W. Cusick. 1994. Comments on some introduced Caryophyllaceae of Ohio and Nearby States. Michigan Botanist 33: 95–108.</p>

          <p class="reference">Rabeler, R. K. 1988. Eurasian introductions to the Michigan Flora: 4. Two additional species of Caryophyllaceae in Michigan. Michigan Botanist 27: 85–88.</p>

          <p class="reference">Rabeler, R. K. 1996. <em>Sagina japonica</em> (Caryophyllaceae) in the Great Lakes region. Michigan Botanist 35: 43–44.</p>

          <p class="reference">Rabeler, R. K. 2002. Noteworthy collection: <em>Heracleum mantegazzianum</em> Somm. &amp; Levier. (Apiaceae). Giant cow parsnip. Michigan Botanist 41: 165–166.</p>

          <p class="reference">Rabeler, R. K. &amp; C. A. Crowder.1985. Eurasian introductions to the Michigan flora: 3. Michigan Botanist 24:125–127.</p>

          <p class="reference">Rafaill, B. L. 2008. Noteworthy collection: <em>Glyceria melicaria</em>, Michigan. Michigan Botanist 47: 79–80.</p>

          <p class="reference">Reddoch, A. H. &amp; J. M. Reddoch. 1993. The species pair <em>Platanthera orbiculata</em> and <em>P. macrophylla</em> (Orchidaceae): taxonomy, morphology, distributions and habitats. Lindleyana 8: 171–187.</p>

          <p class="reference">Reveal, J. L. &amp; F. R. Barrie. 1991. On the identity of <em>Hedysarum violaceum </em>L. (Fabaceae). Phytologia 71: 456–571.</p>

          <p class="reference">Reveal, J. L. &amp; M. J. Seldin. 1976. On the identity of <em>Halesia carolina</em> (Styracaceae). Taxon 25: 123–140.</p>

          <p class="reference">Reveal, J. L. 1993. <em>Streptopus lanceolatus</em> (Aiton) Reveal, a new name for <em>Streptopus roseus</em> Michaux (Convallariaceae). Phytologia 74: 185–189.</p>

          <p class="reference">Reznicek, A. A. 1980. Halophytes along a Michigan Roadside with Comments on the Occurrence of Halophytes in Michigan. Michigan Botanist 19: 23–30.</p>

          <p class="reference">Reznicek, A. A. 1994. The Disjunct Coastal Plain Flora in the Great Lakes Region. Biol. Conservation 68: 203–215.</p>

          <p class="reference">Reznicek, A. A. 1999. Rediscovery of <em>Rhynchospora </em>(<em>Psilocarya</em>) <em>nitens</em> (Cyperaceae) in the Great Lakes Region. Michigan Botanist 38: 35–37.</p>

          <p class="reference">Reznicek, A. A. 2001. Mulberry Weed (<em>Fatoua villosa</em>) spread as far north as Michigan. Michigan Botanist 40: 73–74.</p>

          <p class="reference">Reznicek, A. A. &amp; D. Henson. 1982. <em>Carex</em> <em>heleonastes</em>, New to Michigan and the Contiguous United States. Michigan Botanist 21: 169–170.</p>

          <p class="reference">Reznicek, A. A. &amp; P. M. Catling. 1986. The Status and Distribution of <em>Carex</em> <em>subimpressa</em> Clokey (Cyperaceae). Canad. J. Bot. 64: 227–232.</p>

          <p class="reference">Reznicek, A. A. &amp; P. M. Catling. 1987. <em>Carex</em> <em>praegracilis</em> in Eastern North America: A Remarkable Case of Rapid Invasion. Rhodora 89: 205–216.</p>

          <p class="reference">Rohrer, J. R. 2000. The sand cherry in Wisconsin and neighboring states. Michigan Botanist 39: 59–69.</p>

          <p class="reference">Romaschenko,&nbsp;K.,&nbsp;P.&nbsp;M.&nbsp;Peterson,&nbsp;R.&nbsp;J.&nbsp;Soreng,&nbsp;O.&nbsp;Futorna,&nbsp;A.&nbsp;Susanna.&nbsp;2011. Phylogenetics&nbsp;of&nbsp;<em>Piptatherum</em>&nbsp;s.l&nbsp;(Poaceae: &nbsp;Stipeae): Evidence for a new genus, <em>Piptatheropsis</em>, and resurrection of <em>Patis</em>. Taxon 60: 1703–1716.</p>

          <p class="reference">Rothrock, P. E. 2009. Sedges of Indiana and the adjacent states: the non-<em>Carex</em> species. Indiana Academy of Science, Indianapolis, Indiana. 271 pp.</p>

          <p class="reference">Rothrock, P. E., A. A. Reznicek, &amp; A. L. Hipp. 2009. Taxonomic study of the <em>Carex tenera</em> group (Cyperaceae). Syst. Bot. 34: 297–311.</p>

          <p>Rotter, M. C. &nbsp;2018. Noteworthy Collection: <em>Petasites hybridus</em>. The Great Lakes Botanist 57: 45–48.</p>

          <p class="reference">Saarela, J. M., P. M. Peterson, R. J. Soreng, &amp; R. E. Chapman. 2003. A taxonomic revision of the eastern North American and eastern Asian disjunct genus <em>Brachyelytrum</em> (Poaceae): Evidence from morphology, phytogeography and AFLPs. Syst. Bot. 28: 674–692.</p>

          <p class="reference">Schimpf, D. J., D. L. Pomroy, S. C. Garske, &amp; D. L. Hansen. 2007. Noteworthy collections: Minnesota, Michigan, Wisconsin. Michigan Botanist 46: 80–86.</p>

          <p class="reference">Schimpf, D. J., D. L. Pomroy, S. G. Garske, &amp; J. C. Green. 2009. Noteworthy Collections. Michigan Botanist 48: 49–60.</p>

          <p class="reference">Schmidt, P. 1973. Übersich über de Mittleuropäischen arten der gattung <em>Thymus</em> L. Feddes Repert. 83: 663–671.</p>

          <p class="reference">Schouten, Y. &amp; J. F. Veldkamp. 1985. A revision of <em>Anthoxanthum</em> including <em>Hierochloe </em>(Gramineae) in Malesia and Thailand. Blumea 30: 319–351.</p>

          <p class="reference">Schuster, T. J., J. L. Reveal, &amp; K. A. Kron. 2011. Molecular Systematics of Polygoneae (Polygonaceae: Polygonoideae). Taxon 60: 1653–1666.</p>

          <p class="reference">Sears, C. J. 2008. Morphological Discrimination of <em>Platanthera aquilonis</em>, <em>P. huronensis</em>, and <em>P. dilatata </em>(Orchidaceae) Herbarium Specimens. Rhodora 110: 389–405.</p>

          <p class="reference">Sennikov, A.N. 2011. <em>Chamerion</em> or <em>Chamaenerion</em> (Onagraceae)? The old story in new words.&nbsp;Taxon 60(5): 1485–1488.</p>

          <p class="reference">Seymour, R. S. 1997. Plants That Warm Themselves. Sci. Amer. 276: 104–109.</p>

          <p class="reference">Sheviak, C. J. 1999. The identities of<em> Platanthera hyperborea</em> and <em>P. huronensis</em>, with the description of a new species from North America. Lindleyana 14: 193–203.</p>

          <p class="reference">Shiels, D. R. &amp; A. K. Monfils. 2012. New Combinations in North American <em>Schoenoplectiella</em> (Cyperaceae), Novon 22:87 – 90.</p>

          <p class="reference">Shull, J. M. 1924. A Methuselah of the Plant World. The Skunk Cabbage. J. Hered. 15: 443-450.</p>

          <p class="reference">Simon, J. &amp; A. Bruneau, 2004. Evolution of Triploidy In <em>Apios Americana</em> (Leguminosae) Revealed By Genealogical Analysis of the Histone H3-D Gene. Evolution 58: 284-295.</p>

          <p class="reference">Smedmark, J. E. E. 2006. Recircumscription of <em>Geum </em>L. (Coluriae: Rosaceae). Bot. Jahrb. Syst. 126: 409–417.</p>

          <p class="reference">Snogerup, S., P. F. Zika, &amp; J. Kirschner. 2002. Taxonomic and Nomenclatural Notes on <em>Juncus</em>. Preslia 74: 247–266.</p>

          <p class="reference">Soltis, D. E., E. V. Mavrodiev, J. J. Doyle, J. Rauscher, &amp; P. S. Soltis. 2008. ITS and ETS sequence data and phylogeny reconstruction in allopolyploids and hybrids. Syst. Bot. 33: 7–20.</p>

          <p class="reference">Soltis, D. E., R. K. Kuzoff, M. E. Mort, M. Zanis, M. Fishbein, L. Hufford, J. Koontz, &amp; M. K. Arroyo. 2001. Elucidating deep-level phylogenetic relationships in Saxifragaceae using sequences for six chloroplastic and nuclear DNA regions. Ann. Missouri Bot. Gard. 88: 669–693.</p>

          <p class="reference">Soreng, R. J. 2010. <em>Coleataenia </em>Griseb. (1879): the correct name for <em>Sorengia</em> Zuloaga &amp; Morrone (2010) (Poaceae: Paniceae). J. Bot. Res. Inst. Texas 4: 691–692.</p>

          <p class="reference">Spellenberg, R. W. 2003. <em>Mirabilis</em>. Vol. 4. pp. 40–57. <em>In</em>: Flora of North America Editorial Committee (Eds.). 2003. Flora of North America North of Mexico. Oxford University Press, New York, New York.</p>

          <p class="reference">Spooner, D. M., A. W. Cusick, G. E. Hall, &amp; J. M. Baskin. 1985. Observations on the distribution and ecology of<em>Sida hermaphrodita</em> (L.) Rusby. Sida 11: 215–225.</p>

          <p class="reference">Stace, C. A. 2009. Eleven New Combinations in the British Flora. Watsonia 27: 246–248.</p>

          <p class="reference">Stensvold, Mary Clay and Donald R. Farrar. 2016. &nbsp;Genetic Diversity in the Worldwide <em>Botrychium lunaria</em> (Ophioglossaceae) Complex, with New Species and New Combinations. Brittonia, DOI 10.1007/s12228-016-9455-z ISSN: 0007-196X (print) ISSN: 1938-436X Published online 13 December 2016.</p>

          <p class="reference">Stephenson, S. N. 1984. The genus <em>Dichanthelium</em>(Poaceae) in Michigan. Michigan Botanist 23: 107–119.</p>

          <p class="reference">Stuckey, R.L. 1967. The "lost" plants of Thomas Nuttall's 1810 expedition into the old northwest. &nbsp;Michigan Botanist 6: 81-94 1967</p>

          <p class="reference">Stuckey, R. L. 1979. Distributional history of <em>Potamogeton crispus</em> (curly pondweed) in North America. Bartonia 46: 22–42.</p>

          <p class="reference">Stuckey, R. L. 1980a. Distributional history of <em>Lythrum salicaria</em> (Purple loosestrife) in North America. Bartonia 47: 3–20.</p>

          <p class="reference">Stuckey, R. L. 1980b. The migration and establishment of <em>Juncus gerardii</em> (Juncaceae) in the interior of North America. Sida 8: 334–347.</p>

          <p class="reference">Stuckey, R. L. 1981. Distributional history of <em>Juncus compressus</em> (Juncaceae) in North America. Canad. Field-Naturalist 95: 167–171.</p>

          <p class="reference">Stuckey, R. L. 1985. Distributional history of <em>Najas marina</em> (spiny naiad) in North America. Bartonia 51: 2–16.</p>

          <p class="reference">Swink, F. &amp; G. Wilhelm. 1994. Plants of the Chicago region, 4th ed. Indiana Academy of Science for Morton Arboretum, Indianapolis, Indiana. xiv + 921 pp.</p>

          <p class="reference">Tatina, R. &amp; A. A. Reznicek. 2010. Noteworthy Collections: Michigan <em>Aira caryophyllea</em> L. (Poaceae). Silverhair grass. Michigan Botanist 49: 132–134.</p>

          <p class="reference">Tatina, R. 2015.&nbsp;<span style="line-height: 20.8px;">Noteworthy Collection: The first record for Michigan of&nbsp;<i>Galium pedemontanum&nbsp;</i></span><span style="line-height: 20.8px;">(Rubiaceae).&nbsp;Michigan Botanist 54: 131–133.</span></p>

          <p class="reference">Terrell, E. E. 1996. Revision of <em>Houstonia</em> (Rubiaceae: Hedyotideae). Syst. Bot. Monogr. 48: 1–118.</p>

          <p class="reference">Terrell, E. E. 2001. Taxonomy of <em>Stenaria</em> (Rubiaceae: Hedyotideae), a new genus including <em>Hedyotis nigricans</em>. Sida 19: 591–614.</p>

          <p class="reference">Terrell, E. E., P. M. Peterson, J. L. Reveal, &amp; M. R. Duvall. 1997. Taxonomy of North American species of <em>Zizania</em> (Poaceae). Sida 17: 533–549.</p>

          <p class="reference">The Plant List. 2013. Version 1.1. Published on the Internet; http://www.theplantlist.org/ (accessed 20 January 2017).</p>

          <p class="reference">Thomson, E. R. 2005. Papillate watermeal, <em>Wolffia brasiliensis</em>, in eastern Ontario: An addition to the flora of Canada. Canad. Field-Naturalist 119: 137–138.</p>

          <p class="reference">Tucker, A. O. &amp; H. L. Chambers. 2002. <em>Mentha canadensis</em> L. (Lamiaceae): A relict amphidiploid from the Lower Tertiary. Taxon 51: 703–718.</p>

          <p class="reference">Valliant, M. T., R. N. Mack, &amp; S. J. Novak. 2007. Introduction history and population genetics of the invasive grass <em>Bromus tectorum</em> (Poaceae) in Canada. Amer. J. Bot. 94: 1156–1169.</p>

          <p class="reference">Veldkamp, J. F. 2009. The authorship of <em>Bromus pubescens</em> (Gramineae). J. Torrey Bot. Soc. 136: 137–138.</p>

          <p class="reference">Vincent, M. A. 2004. <em>Tetradium daniellii</em> (Korean evodia: Rutaceae) as an escape in North America. Michigan Botanist 43: 21–24.</p>

          <p class="reference">Voss, E. G. 1972. Michigan Flora. A Guide to the Identification and Occurrence of the Native and Naturalized Seed-plants of the State. Part I Gymnosperms and Monocots. Cranbrook Inst. Sci. Bull. 55 &amp; Univ. Michigan Herbarium. xviii + 488 pp.</p>

          <p class="reference">Voss, E. G. 1985. Michigan Flora. Part II Dicots (Saururaceae—Cornaceae). Cranbrook Inst. Sci. Bull. 59 &amp; Univ. Michigan Herbarium. xx + 724 pp.</p>

          <p class="reference">Voss, E. G. 1996. Michigan Flora. Part III Dicots (Pyrolaceae—Compositae). Cranbrook Inst. Sci. Bull. 61 &amp; Univ. Michigan Herbarium. xii + 622 pp.</p>

          <p class="reference">Voss, E. G. 2001. A Purple Color form of Pitcher’s Thistle. Contr. Univ. Michigan Herb. 23: 349–350.</p>

          <p class="reference">Voss, E. G. &amp; A. A. Reznicek. 2012. Field Manual of Michigan Flora. University of Michigan Press, Ann Arbor. xiv + 990 pp.</p>

          <p class="reference">Wade, C. A. &amp; B. D. Parfitt. 2000. Noteworthy collection: <em>Picea abies</em>, Michigan. Michigan Botanist 39: 78–79.</p>

          <p class="reference">Wagner, W. H. 1971. The southeastern Adder's-Tongue, <em>Ophioglossum vulgatum</em> var. <em>pycnostichum</em>, found for the first time in Michigan. Michigan Botanist 10: 67–74.</p>

          <p class="reference">Wagner, W. H. Jr. 1990. A Natural Hybrid of Gray Dogwood, <em>Cornus racemosa</em>, and Round-leaved dogwood, <em>C. rugosa</em>, from Michigan. Michigan Botanist 29: 131–137.</p>

          <p class="reference">Wagner, W. H. Jr. 2000. Leaf forms in <em>Sassafras </em>in southeastern Michigan. Michigan Botanist 39: 70–76.</p>

          <p class="reference">Wagner, W. H. Jr., T. F. Daniel, &amp; M. K. Hansen. 1980. A hybridizing <em>Verbascum</em> population in Michigan. Michigan Botanist 19: 37–45.</p>

          <p class="reference">Wagner, W. H. Jr. &amp; D. M. Johnson. 1981. Natural History of the Ebony Spleenwort, <em>Asplenium platyneuron</em>, in the Great Lakes Area. Canad. Field-Naturalist 95: 156–166.</p>

          <p class="reference">Wagner, W. H. Jr., F. S. Wagner, &amp; D. J. Hagenah. 1969. The Log fern (<em>Dryopteris celsa</em>) and Its Hybrids in Michigan – A preliminary Report. Michigan Botanist 8: 137-145.</p>

          <p class="reference">Wagner, W. L., P. C. Hoch, P. H. Raven. 2007. A revised classification of the Onagraceae. Syst. Bot. Monogr. 83: 1–240.</p>

          <p class="reference">Wallace, L. E. 2003. Molecular evidence for allopolyploid speciation and recurrent origins in <em>Platanthera huronensis</em> (Orchidaceae). Int. J. Pl. Sci. 164: 907–916.</p>

          <p class="reference">Warners, D. P. &amp; D. C. Laughlin. 1999. Evidence for a species-level distinction of two co-occurring asters: <em>Aster puniceus</em> L. and <em>Aster firmus</em> Nees. Michigan Botanist 38: 19–31.</p>

          <p class="reference">Watson, M. F. 1989. Nomenclatural aspects of <em>Oxalis</em> sect. <em>Corniculatae</em> in Europe. Bot. J. Linn.Soc. 101: 347–362.</p>

          <p class="reference">Weatherbee, E.E.. 1990. Cliff Brake on Drummond Island: A grevel Roadside Locality Found by Amateur Botanists. Michigan Botanist 29: 103–105.</p>

          <p class="reference">Weber, W. A. &amp; R. C. Wittmann. 2001. Colorado Flora: Eastern Slope (3<sup>rd</sup> Ed.) University Press of Colorado, Boulder. xl + 521 pp.</p>

          <p class="reference">Widrlechner, M. P. &amp; R. K. Rabeler. 1991. <em>Rubus parvifolius</em> (Rosaceae), naturalized in Illinois and Iowa. Michigan Botanist 30: 23–30.&nbsp;</p>

          <p class="reference">Widrlechner, M. P. &amp; W. H. Wagner Jr. 1998. Occurrence of European dewberry, <em>Rubus caesius</em> (Rosaceae), naturalized in Iowa and Michigan. Michigan Botanist 37: 107–112.</p>

          <p class="reference">Wilbur, R. L. 2003. What is the correct name for the bristly greenbrier? Rhodora 105: 250–259.</p>

          <p class="reference">Wilhelm, G. &amp; L. Rericha. 2016. A new pecies of <em>Hypericum</em> (Hypericaceae) and Some New Combinations in the Vascular Flora of the Chicago Region. Michigan Botanist 55: 89–96.</p>

          <p class="reference">Windham, M. D. &amp; I. A. Al-Shehbaz. 2006. New and noteworthy species of <em>Boechera</em> (Brassicaceae) I: Sexual diploids. Harvard Pap. Bot. 11: 61–88.</p>

          <p class="reference">Windham, M. D. &amp; I. A. Al-Shehbaz. 2007a. New and noteworthy species of <em>Boechera </em>(Brassicaceae) II: apomictic hybrids. Harvard Pap. Bot. 11: 257–274.</p>

          <p class="reference">Windham, M. D. &amp; I. A. Al-Shehbaz. 2007b. New and noteworthy species of <em>Boechera </em>(Brassicaceae) III: additional sexual diploids and apomictic hybrids. Harvard Pap. Bot. 12: 235–257.</p>

          <p class="reference">Woodland, D. W. &amp; J. Ng. 1988. <em>Commelina erecta</em> (day-flower) rediscovered in Michigan. Michigan Botanist 27: 88.</p>

          <p class="reference">Zalapa, J. E., J. Brunet, &amp; R. P. Guries. 2009. Patterns of Hybridization and Introgression Between Invasive <em>Ulmus pumila </em>(Ulmaceae) and Native <em>U. rubra. </em>Amer. J. Bot. 96: 1116–1128.</p>

          <p class="reference">Zika, P. F. &amp; A. L. Jacobson. 2003. An overlooked hybrid Japanese knotweed (<em>Polygonum cuspidatum</em> × <em>sachalinense</em>; Polygonaceae) in North America. Rhodora 105: 143–152.</p>

          <p class="reference">Zinovjev A. G. 2011. <em>Salix </em>× <em>meyeriana</em> (= <em>Salix pentandra </em>×<em> S. euxina</em>)―a forgotten willow in Eastern North America . Phytotaxa 22: 57–60.</p>

          <p class="reference">Zomlefer, W. B. &amp; W. S. Judd. 2002. Resurrection of segregates of the polyphyletiuation oc genus <em>Zigadenus </em>s.l. (Liliales: Melanthiaceae) and resulting new combinations. Novon 12: 299–308.</p>

          <p class="reference">Zuloaga, F. O., M. A. Scataglini, &amp; O. Morrone. 2010. A phylogenetic evalf <em>Panicum</em> sects. <em>Agrostoidea</em>, <em>Megista</em>, <em>Prionitia</em> and <em>Tenera</em> (Panicoideae, Poaceae): Two new genera, <em>Stephostachys</em> and <em>Sorengia</em>.<strong> </strong>Taxon 59: 1535–1546.</p>

        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheReferences',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>


</style>
