<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-content class="mt-12">
      <v-row class="mt-12"></v-row>
      <v-row class="mt-12">
        <v-col class="mt-12 text-justify" cols="10" offset-lg="3" lg="8" offset="1">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">
            {{
            this.$route.params.family_name.charAt(0).toUpperCase() +
            this.$route.params.family_name.slice(1).toLowerCase()
            }}
          </p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <component class="family-text" ref="familyText" v-bind:is="{template: family_text}" v-on:anchor-click="goTo($event)"></component> <!-- Needed to store text in this anonymous component for it to render and function properly. Not sure why. -->
          <v-col v-resize="onResize" style="padding-top:56px">
            <v-toolbar dark color="primary">
              <v-toolbar-title class="white--text hidden-xs-only">All species found in {{ this.$route.params.family_name }}</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-text-field v-model="search" append-icon="mdi-search" color="#fafafa" label="Search" single-line hide-details></v-text-field>
            </v-toolbar>
            <v-lazy v-model="isActive" :options="{threshold: .5}" transition="fade-transition">
              <v-data-table style="max-height: 50vh; overflow-y: auto" :headers="headers" :items="family_species" :search="search" :pagination.sync="pagination" :rows-per-page-items="[10, 25, 50, 100]" :hide-default-header="isMobile" :class="{mobile: isMobile}">
                <template v-slot:item="props">
                  <tr v-if="!isMobile">
                    <router-link class="link text-justify" tag="td" :to="{ path: '/record/' + props.item.plant_id, params: { id: props.item.plant_id }}">{{ props.item.scientific_name }}</router-link>
                    <td class="text-justify">{{ props.item.common_name.join(", ") }}</td>
                    <td class="img">
                      <img class="thumb ma-2" :src="props.item.thumb_img" />
                      <img class="hover" :src="props.item.hover_img" />
                    </td>
                  </tr>
                  <tr v-else>
                    <td>
                      <ul class="flex-content">
                        <router-link tag="li" class="flex-item text-left" data-label="Scientific Name" :to="{ path: `/record/` + props.item.plant_id }"><span class="link">{{ props.item.scientific_name }}</span></router-link>
                        <li class="flex-item text-left" data-label="Common Name">{{ props.item.common_name.join(", ") }}</li>
                      </ul>
                    </td>
                  </tr>
                </template>
              </v-data-table>
            </v-lazy>
          </v-col>
        </v-col>
        <v-col cols="10" lg="8" sm="10" offset-lg="3" offet-md="2" offset="1" class="mt-4 text-justify">
          <p class="body-2"><span class="font-weight-bold">Citation:</span><br>
            <span class="font-italic">MICHIGAN FLORA ONLINE.</span> A. A. Reznicek, E. G. Voss, & B. S. Walters. February 2011. University of Michigan. Web. February 10, 2020. <br>
            https://mifloradev.lsa.umich.edu/new/#{{ this.citationUrl }}
          </p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import axios from 'axios';
import Vue from 'vue';
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'FamilyTemplate',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
  data: () => ({
    family_text: '',
    family_species: [],
    headers: [
      { text: 'Species', value: 'scientific_name' },
      { text: 'Common Name', value: 'common_name' },
      { text: '', value: '' },
    ],
    pagination: {
      sortBy: 'name',
      rowsPerPage: 10,
      search: '',
      totalItems: 0,
    },
    search: '',
    isMobile: false,
    citationUrl: '',
  }),
  created() {
    const id = this.$route.params.family_name;
    this.citationUrl = this.$route.path;
    axios.all([
      axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/family_text?id=${id}`),
      axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/flora_search?family=${id}&n_results=0`),
    ]).then(axios.spread((text, species) => {
      this.family_text = text.data.text !== undefined ? `<div>${text.data.text}</div>` : '';
      this.family_species = species.data.map((s) => {
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/pimage_info?id=${s.plant_id}`)
          .then((response) => {
            // eslint-disable-next-line no-unused-expressions
            response.data.image_id !== undefined ? Vue.set(s, 'thumb_img', `https://www.michiganflora.net/species_images/s/${response.data.image_id}.jpg`) : '';
            // eslint-disable-next-line no-unused-expressions
            response.data.image_id !== undefined ? Vue.set(s, 'hover_img', `https://www.michiganflora.net/species_images/m/${response.data.image_id}.jpg`) : '';
          });
        return s;
      });
    })).catch((error) => {
      console.error(error);
    });
  },
  methods: {
    goTo(refName) {
      const element = this.$refs.familyText.$refs[refName];
      const top = element.offsetTop;
      window.scrollTo(0, top);
    },
    onResize() {
      this.isMobile = window.innerWidth < 1264;
    },
  },
};

</script>

<style lang="scss" scoped>
  .mobile {
    color: #333;
  }

  @media screen and (max-width: 1263px) {
    .mobile .v-data-table__wrapper table tbody tr {
      max-width: 100%;
      position: relative;
      display: block;
    }

    .mobile .v-data-table__wrapper table tbody tr:nth-child(odd) {
      border-left: 6px solid #00274c;
    }

    .mobile .v-data-table__wrapper table tbody tr:nth-child(even) {
      border-left: 6px solid #b0bec5;
    }

    .mobile .v-data-table__wrapper table tbody tr td {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #f5f5f5;
      height: auto;
      padding: 10px;
    }

    .mobile .v-data-table__wrapper table tbody tr td ul li:before {
      content: attr(data-label);
      padding-right: .5em;
      text-align: left;
      display: block;
      color: #999;

    }

  }
  .flex-content {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  .flex-item {
    padding: 5px;
    width: 50%;
    height: auto;
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
    cursor: pointer;
    padding-left: 0.25em;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  .couplet {
    padding-left: 1em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .hover {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5ms ease-out;
  }
  .thumb{
    position: relative;
    opacity:1;
    -webkit-transition: opacity 0.5s ease-in;
  }
  .img:hover {
    & .thumb {
      opacity: 0;
      position: absolute;
    }
    & .hover {
      opacity: 1;
      position: relative;
      -webkit-transition: opacity 0.5s ease-in;
    }
  }
  a {
    text-decoration: underline;
  }
  .family-text ::v-deep .anchor {
    margin-top: -120px;
    padding-bottom: 120px;
    display: block;
  }
  .family-text ::v-deep .MF-key-species {
    text-align: right;
    font-style: italic;
    transition: .1s;
  }
  .family-text ::v-deep .MF-key-species:hover {
    font-weight: bold;
  }
  .family-text ::v-deep a {
    text-decoration: underline;
  }
  .family-text ::v-deep h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  ::v-deep .v-data-footer {
    justify-content: flex-start !important;
  }

</style>
