<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="11" lg="8" sm="10" class="mt-12 text-left">
          <v-breadcrumbs large :items="breadcrumbs">
            <template v-slot:item="{ item }">
              <v-breadcrumbs-item :to="item.to">
                {{ item.text }}
              </v-breadcrumbs-item>
            </template>
          </v-breadcrumbs>
          <p class="font-weight-medium" :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}"><em>{{ floraData[0].scientific_name }}</em>   <span :class="{'body-2': $vuetify.breakpoint.lgAndUp, 'caption': $vuetify.breakpoint.mdAndDown}">{{ recordData.author }}</span></p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="11" lg="8" sm="10">
          <template class="desktop" v-if="$vuetify.breakpoint.smAndUp">
            <v-row class="text-left">
              <v-col cols="6" class="ma-0">
                <p>
                  <span class="font-weight-bold">Common Name:</span> {{ floraData[0].common_name.join(", ") }} <br>
                  <span class="font-weight-bold">Coefficient of Conservatism:</span> {{ floraData[0].c }} <br>
                  <span class="font-weight-bold">Coefficient of Wetness:</span> {{ floraData[0].w }} <br>
                  <span class="font-weight-bold">Wetness Index:</span> {{ floraData[0].wet }} <br>
                  <span class="font-weight-bold">Physiognomy:</span> {{ floraData[0].phys }} <br>
                  <span class="font-weight-bold">Status:</span> {{ floraData[0].st}} <br>
                </p>
                <p class="mt-4">{{ textData }}</p>
              </v-col>
              <v-col></v-col>                                         <!-- empty div for centering -->
              <v-col cols="5" @click="showGallery" v-if="primaryImage !== ''">
                <v-hover>
                  <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
                    <v-img :src=primaryImage class="elevation-3"></v-img>
                  </v-card>
                </v-hover>
                <p class="mt-3 body-1">{{ primaryImagePhotographer }}</p>
                <LightGallery
                  v-if="galleryVisible" :gallery-items="galleryItems" @close-gallery="hideGallery">
                </LightGallery>
              </v-col>
              <v-col cols="5" align-self="center" v-else>
                <p class="title text-center">No photos available.</p>
              </v-col>
              <v-col></v-col>                                         <!-- empty div for centering -->
            </v-row>
            <v-row class="mt-5" justify="space-between" style="height: 75vh">
              <v-col cols="4">
                <v-toolbar dense dark color="primary">
                  <v-toolbar-title class="white--text">Locations</v-toolbar-title>
                  <v-spacer></v-spacer>
                </v-toolbar>
                <v-data-table style="max-height: 50vh; overflow-y: auto" dense fixed-header disable-sort :headers="headers" :items="locationData" class="elevation-3" :disable-pagination="true" :hide-default-footer="true" :class="{mobile: isMobile}">
                  <template slot="items" slot-scope="props">
                    <tr>
                      <td class="text-justify">{{ props.item.location }}</td>
                    </tr>
                  </template>
                </v-data-table>
              </v-col>
              <v-col cols="8">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" :src="this.mapBaseURL"></iframe>
              </v-col>
            </v-row>
          </template>
          <template class="mobile" v-if="$vuetify.breakpoint.xsOnly">
            <v-col cols="12">
              <v-row>
                <v-col class="text-left" cols="12" >
                  <p>
                    <span class="font-weight-bold">Common Name:</span> {{ floraData[0].common_name.join(", ") }} <br>
                    <span class="font-weight-bold">Coefficient of Conservatism:</span> {{ floraData[0].c }} <br>
                    <span class="font-weight-bold">Coefficient of Wetness:</span> {{ floraData[0].w }} <br>
                    <span class="font-weight-bold">Wetness Index:</span> {{ floraData[0].wet }} <br>
                    <span class="font-weight-bold">Physiognomy:</span> {{ floraData[0].phys }} <br>
                    <span class="font-weight-bold">Status:</span> {{ floraData[0].st}} <br>
                  </p>
                  <p>{{ textData }}</p>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" @click="showGallery" v-if="primaryImage !== ''">
                  <p class="title">Photos</p>
                  <v-hover>
                    <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 12 : 2}`" class="mx-auto">
                      <v-img :src=primaryImage class="elevation-3"></v-img>
                    </v-card>
                  </v-hover>
                  <p class="mt-3">{{primaryImagePhotographer}}</p>
                  <LightGallery
                    v-if="galleryVisible" :gallery-items="galleryItems" @close-gallery="hideGallery">
                  </LightGallery>
                </v-col>
                <v-col cols="12" v-else align-self="center">
                  <p class="subtitle-1 text-center">No photos available.</p>
                </v-col>
              </v-row>
              <v-row style="height: 60vh">
                <v-col cols="12">
                  <iframe width="100%" height="100%" :src="this.mapBaseURL"></iframe>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-toolbar dark color="primary">
                    <v-toolbar-title class="white--text">Locations</v-toolbar-title>
                    <v-spacer></v-spacer>
                  </v-toolbar>
                  <v-data-table style="max-height: 300px; overflow-y: auto" dense :headers="headers" hide-default-footer hide-default-header :items="locationData" class="elevation-3" :hide-headers="true">
                    <template slot="items" slot-scope="props">
                      <tr>
                        <td class="text-justify">{{ props.item.location }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-col>
              </v-row>
            </v-col>
          </template>
        </v-col>
        <v-col cols="10" lg="8" sm="10" offset-lg="3" offet-md="2" offset="1" class="mt-4 text-justify">
          <p class="body-2"><span class="font-weight-bold">Citation:</span><br>
            <span class="font-italic">MICHIGAN FLORA ONLINE.</span> A. A. Reznicek, E. G. Voss, & B. S. Walters. February 2011. University of Michigan. Web. February 10, 2020. <br>
            https://mifloradev.lsa.umich.edu/new/#{{ this.citationUrl }}
          </p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import axios from 'axios';
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';
import LightGallery from '@/components/LightGallery.vue';

export default {
  name: 'FloraRecord',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
    LightGallery,
  },
  data: () => ({
    breadcrumbs: [],
    search: '',
    headers: [
      { text: 'County/Area', value: 'location' },
    ],
    floraData: [],
    textData: [],
    primaryImage: '',
    primaryImageThumb: '',
    primaryImagePhotographer: '',
    imageData: [],
    mapBaseURL: '',
    locationData: [],
    citationUrl: '',
    isMobile: false,
    galleryVisible: false,
    // eslint-disable-next-line no-use-before-define
    recordData: getInitialData(),
  }),
  created() {
    this.getRecordData(this.$route.params.id);
    this.citationUrl = this.$route.path;
  },
  methods: {
    getRecordData(id) {
      axios.all([
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/flora_search?plant_id=${id}`),
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/flora_search_sp?plant_id=${id}`),
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/spec_text?id=${id}`),
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/pimage_info?id=${id}`),
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/allimage_info?id=${id}`),
        axios.get(`https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/locs?id=${id}`),
      ]).then(axios.spread((flora, author, text, pimage, images, locations) => {
        this.floraData = this.responseFilter(flora.data);
        this.recordData.author = author.data[0].author;
        this.addBreadcrumbs(this.floraData);
        this.textData = text.data.text.replace(/<[^>]*>?/gm, ''); // Regex to remove HTML
        if (pimage.data.image_id != null) {
          this.primaryImage = `https://www.michiganflora.net/species_images/${pimage.data.image_id}.jpg`;
          this.primaryImageThumb = `https://www.michiganflora.net/species_images/m/${pimage.data.image_id}.jpg`;
          this.primaryImagePhotographer = pimage.data.photographer;
        }
        if (Array.isArray(images.data)) {
          this.imageData = images.data.reduce((acc, e) => {
            const obj = {};
            obj.src = `https://www.michiganflora.net/species_images/${e.image_id}.jpg`;
            obj.thumb = `https://www.michiganflora.net/species_images/m/${e.image_id}.jpg`;
            obj.subHtml = e.photographer;
            obj.primary = obj.src === this.primaryImage; // Boolean for primary image obj
            acc.push(obj);
            return acc;
            // eslint-disable-next-line array-callback-return,consistent-return
          }, []).sort((a, b) => { if (b.primary === true) return 1; }); // Move primary image obj to front.
        }
        this.locationData = locations.data.locations.reduce((acc, curr) => {
          const obj = {};
          obj.location = curr;
          acc.push(obj);
          return acc;
        }, []);
        this.mapBaseURL = `https://mifloradev.lsa.umich.edu/mi-flora-webmap/index_map_only.html?plant_id=${id}`;
      })).catch((error) => {
        console.error(error);
      });
    },
    responseFilter(resp) { // Filter flora object for specific data
      const keys = this.dataKeys(this.recordData);
      if (this.isObject(resp)) {
        const respArr = [];
        respArr.push(resp);
        return this.responseFilter(respArr);
      }
      return resp.reduce((arr, e) => {
        const obj = {};
        Object.keys(e).forEach((key) => {
          // eslint-disable-next-line no-unused-expressions
          keys.includes(key) ? obj[key] = e[key] : null;
        });
        // eslint-disable-next-line prefer-destructuring
        obj.genus = obj.scientific_name.split(' ', 1)[0];
        arr.push(obj);
        return arr;
      }, []);
    },
    dataKeys(obj) { // Get keys from initial obj
      return Object.entries(obj)
        .reduce((arr, e) => {
          arr.push(e[0]);
          return arr;
        }, []);
    },
    isObject(obj) {
      return Object.prototype.toString.call(obj) === '[object Object]'; // Check if {}
    },
    addBreadcrumbs(obj) {
      this.breadcrumbs = [
        {
          text: 'Home',
          disabled: false,
          to: '/',
        },
        {
          text: obj[0].family_name,
          disabled: false,
          to: { name: 'family', params: { family_name: obj[0].family_name } },
          exact: true,
        },
        {
          text: obj[0].genus,
          disabled: false,
          to: { name: 'genus', params: { genus_name: obj[0].genus } },
          exact: true,
        },
      ];
    },
    showGallery() {
      this.galleryVisible = false;
      this.galleryItems = {};
      this.galleryVisible = true;
      this.galleryItems = this.imageData;
    },
    hideGallery() {
      this.galleryItems = {};
      this.galleryVisible = false;
    },
    onResize() {
      this.isMobile = window.innerWidth < 1480;
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
  },
};

function getInitialData() {
  return {
    plant_id: '',
    scientific_name: '',
    c: '',
    w: null,
    wet: '',
    phys: '',
    na: '',
    st: '',
    family_name: '',
    genus: '',
    common_name: [],
    text: '',
    image_id: '',
    locs: [],
    author: '',
    n_results: null,
  };
}
</script>

<style scoped>


  .map-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: inline-block;
  }


  .lightbox {
    /** Default lightbox to hidden */
    display: none;

    /** Position and style */
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
  }

  .lightbox img {
    /** Pad the lightbox image */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .lightbox:target {
    /** Remove default browser outline */
    outline: none;

    /** Unhide lightbox **/
    display: block;
  }
  .v-application p {
    margin-bottom: 12px !important;
  }
  .v-data-footer ::v-deep {
    justify-content: flex-start !important;

  }

</style>
