<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p class="text-left" :class="{'display-1': $vuetify.breakpoint.mdAndUp, 'headline': $vuetify.breakpoint.smOnly, 'subheading': $vuetify.breakpoint.xsOnly}">
            <em>{{ responseData[0].scientific_name }}</em> <span :class="{'headline': $vuetify.breakpoint.mdAndUp, 'title': $vuetify.breakpoint.smOnly, 'subtitle-1': $vuetify.breakpoint.xsOnly}">{{ responseData[0].infra_rank }}</span> <em>{{ responseData[0].infra_name }}</em>
            <span :class="{'title': $vuetify.breakpoint.mdAndUp, 'subheading': $vuetify.breakpoint.smOnly, 'body-2': $vuetify.breakpoint.xsOnly}">&nbsp;&nbsp;-&nbsp;&nbsp;{{ responseData[0].family }}</span>
          </p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <v-data-table hide-actions :hide-default-header="true" :hide-default-footer="true" :items="responseData">
            <template v-slot:item="props">
              <tr>
                <td>
                  <ul class="flex-content">
                    <li class="flex-item text-left font-weight-light" :class="{'title': $vuetify.breakpoint.mdAndUp, 'body-2': $vuetify.breakpoint.smOnly, 'caption': $vuetify.breakpoint.xsOnly}">
                      <p><span class="font-weight-bold">Herbarium:</span>&nbsp;MICH</p>
                      <p><span class="font-weight-bold">Catalog number:</span>&nbsp;{{ props.item.catalog_number }}</p>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul class="flex-content">
                    <li class="flex-item text-left font-weight-light" :class="{'title': $vuetify.breakpoint.mdAndUp, 'body-2': $vuetify.breakpoint.smOnly, 'caption': $vuetify.breakpoint.xsOnly}">
                      <p><span class="font-weight-bold">Determiner:</span>&nbsp;</p>
                      <p><span class="font-weight-bold">Determination History:</span>&nbsp;</p>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul class="flex-content">
                    <li class="flex-item text-left font-weight-light" :class="{'title': $vuetify.breakpoint.mdAndUp, 'body-2': $vuetify.breakpoint.smOnly, 'caption': $vuetify.breakpoint.xsOnly}">
                      <p><span class="font-weight-bold">Collectors:</span>&nbsp;{{ props.item.collectors_data }}</p>
                      <p><span class="font-weight-bold">Accompanying Collectors:</span>&nbsp;</p>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <ul class="flex-content">
                    <li class="flex-item text-left font-weight-light" :class="{'title': $vuetify.breakpoint.mdAndUp, 'body-2': $vuetify.breakpoint.smOnly, 'caption': $vuetify.breakpoint.xsOnly}">
                      <p><span class="font-weight-bold">Location:</span>&nbsp;{{ props.item.location_data }}</p>
                      <p><span class="font-weight-bold">Habitat:</span>&nbsp;</p>
                    </li>
                  </ul>
                </td>
              </tr>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import axios from 'axios';
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'Specimen Record',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
  data: () => ({
    responseData: [],
    record: {
      common_name: '',
      scientific_name: '',
      genus: '',
      family: '',
      species_epithet: '',
      catalog_number: '',
      catalog_data: '',
      collectors: '',
      collectors_number: '',
      collectors_data: '',
      collection_date: '',
      infra_rank: '',
      infra_name: '',
      place_name: '',
      locality: '',
      location_data: '',
      identity: '',
      specimen_notes: '',
    },
  }),
  created() {
    this.getRecord(this.$route.params.id);
  },
  methods: {
    getRecord(id) {
      const path = 'https://miflora-beta.lsait.lsa.umich.edu/api/v1.0/spec_search?identity=';
      const request = path + id;
      return axios.get(request)
        .then((response) => {
          this.responseData = this.responseFilter(response.data);
        }).catch((error) => {
          // eslint-disable-next-line no-console
          console.error(error);
        });
    },
    responseFilter(resp) { // Filters response object for relevant data
      const keys = this.dataKeys(this.record);
      return resp.reduce((arr, e) => {
        const obj = {};
        Object.keys(e).forEach((key) => {
          // eslint-disable-next-line no-unused-expressions
          keys.includes(key) ? obj[key] = e[key] : null;
        });
        obj.scientific_name = `${obj.genus} ${obj.species_epithet}`;
        obj.collectors_data = `${obj.collectors}, ${obj.collectors_number}`;
        obj.location_data = `${obj.place_name}: ${obj.locality}`;
        obj.catalog_data = `MICH${obj.catalog_number}`;
        arr.push(obj);
        return arr;
      }, []);
    },
    dataKeys(obj) { // Gets keys from initial record object
      return Object.entries(obj)
        .reduce((arr, e) => {
          arr.push(e[0]);
          return arr;
        }, []);
    },
  },
};
</script>

<style scoped>

  table {
    width: 100vw;
    table-layout: fixed;
  }

  table tbody tr {
    max-width: 100%;
    position: relative;
    display: block;
  }

  table tbody tr:nth-child(odd) {
    border-left: 6px solid #00274c;
  }

  table tbody tr:nth-child(even) {
    border-left: 6px solid #b0bec5;
  }

  table tbody tr td {
    display: flex;
    border-bottom: 1px solid #fafafa;
    height: auto;
    padding: 10px;
    word-wrap: break-word;
  }

  table tbody tr td ul li:before {
    padding-right: .5em;
    text-align: left;
    color: #999;
  }

  .theme--light.v-data-table tbody tr:hover:not(.v-datatable__expand-row) {
    background: transparent;
  }

  .flex-content {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-item {
    padding: 2px;
    height: auto;
    font-weight: bold;
  }
</style>
