<template>
  <v-container fluid class="ma-0 pa-0">
    <v-row id="footer">
      <v-col>
        <v-footer app dark color="primary" class="mt-5">
          <v-spacer></v-spacer>
          <div><a href="http://herbarium.lsa.umich.edu">University of Michigan Herbarium</a> | 3600 Varsity Drive | Ann Arbor, MI 48108-2228 | <a href="mailto:eeb-michiganfloraonline@umich.edu">eeb-michiganfloraonline@umich.edu</a> | phone 734.615.6200 | fax 734.998.0038</div>
        </v-footer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'TheFooter',
};
</script>

<style scoped>
  a {
    color: ivory !important;
  }

  #footer {
    transition: none !important;
  }

</style>
