<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-12">
      <!-- Space -->
    </v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Introduction</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>With the publication of the one volume <em>Field Manual of Michigan Flora</em>, (Voss &amp; Reznicek, 2012), an update and consolidation of the three volume <em>Michigan Flora</em> (Voss, 1972, 1985, 1996), the flora of Michigan is on a solid, modern foundation. This website is intended both to be an evolving illustrated companion to the <em>Field Manual</em>, presenting photographs of the species and their diagnostic features, and build on the foundation of the <em>Field Manual</em> by incorporating updates and new discoveries. Few things in science are more certain than the fact that floristic works become outdated almost as soon as they are printed, and this is certainly true of Michigan’s Flora. We hope that distributing information through this website will allow us to regularly update our knowledge. Up-to-date information about the diversity and occurrence of plants is essential to understanding and stewarding Michigan’s environment and appreciation of its natural heritage. xx</p>

          <p>On this site nothing is added to the flora or to any map without the supporting specimens having been individually checked and confirmed, both as to their identity and their status as wild plants collected in Michigan. We note this explicitly because the increased online availability of herbarium specimen label data, typically presented without having the determinations of the specimens checked, means that misidentifications that once slumbered anonymously in folders in herbaria are now enshrined in credible websites for all to see. All species confirmed by us for the flora since the publication of the <em>Field Manual</em> are noted in “The Information” section of this website. Name changes are discussed under their respective species, and not separately listed; as always, searches using the “old” names work.</p>

          <p>The immediate goals of <em>MICHIGAN FLORA ONLINE</em> are to present, in a searchable and browsable form, the basic information about all vascular plants known to occur outside of cultivation in the state. This includes, unlike the published <em>Michigan Flora</em>, the spore bearing vascular plants (ferns, horsetails, club mosses, etc.). Information available includes maps showing the distribution of all the species in the state, keys to all the families, genera, and species, brief discussions about the species, including habitats, nativity, date of first collection of aliens, and in some cases, notes helpful to identification beyond the features noted in the keys. The up-to-date tabular data available for all species includes common name, synonyms linking the name to the published volumes of <em>Michigan Flora</em>, coefficient of conservatism, the coefficient of wetness and the wetness index, State-listed status, whether native or alien, and the physiognomy (annual, biennial, perennial; tree, shrub, vine, forb, grass, sedge, fern). The <a href="https://mifloradev.lsa.umich.edu/fqa-database.pdf">Michigan Floristic Quality Assessment Database</a> contains an explanation of abbreviations and lists references explaining the Floristic Quality Assesment System. A program to generate the Floristic Quality Index and associated calculations for natural areas, with the ability for customization, is available through the <a href="http://universalfqa.org/" target="_self">UNIVERSAL FQA CALCULATOR</a>. It is based on data provided in August 2014, and while <em>MICHIGAN FLORA ONLINE</em> will be updated as species changes occur, the data on the Universal Calculator will only be updated occasionally.</p>

          <p>Assigning physiognomy (annual, biennial, perennial; tree,shrub, vine, forb, grass, sedge, fern) to species is usually straightforward. However, some herbaceous plants may be either annual or biennial or even annual or perennial depending on their circumstances. If they are capable of being a perennial, we have assigned that physiognomy. Monocarpic species, which live 2 years or sometimes more, are treated as biennials and “winter annuals” are considered annuals. The distinction between shrubs and herbaceous plants becomes blurred in some instances. Evergreen creepers with persistent stems such <em>Mitchella repens</em> and <em>Linnaea borealis</em> can plausibly be viewed as very dwarf shrubs. Some Lamiaceae and Brassicaceae, and perhaps even <em>Comandra umbellata</em> and <em>Geocaulon lividum,</em>&nbsp;with persistent woody bases can also be viewed as "shrublets."&nbsp;These are here considered herbaceous, although they are mostly accommodated in the “woody plant” key to avoid confusion. Assignment of tree versus shrub is based on tradition; small woody plants such as <em>Dirca palustris</em> with single trunks and thus a tree-like habit are treated as shrubs, as are thicket forming species such as some <em>Cornus</em> and <em>Salix</em>, plus <em>Zanthoxylum</em> that may occasionally reach the size of small trees. Perhaps the most difficult category is vine. <em>Lygodium palmatum</em> is both a fern and a vine; it is assigned to the fern category. While some definitions of vine include trailing plants, here we require “climbing” ability with specialized stems that twine, have tendrils, aerial roots, clinging hooks, etc. Otherwise, many mat-forming or prostrate herbs and arching or tip-rooting shrubs would have to be considered vines. Perhaps most problematic are thorny species such as some <em>Rosa</em> and <em>Rubus</em>, which are basically shrubs, and are here so considered, but which can, with their thorny branches, scramble through shrubs and occasionally into the lower branches of small trees in thickets.</p>

          <p>We strongly recommend that users of this website read the introductory material in the three volumes of <em>Michigan Flora</em> to gain an understanding of the scope of the work involved as well as the underlying philosophy. Please also read the material under the heading "The Information," as this covers additions, updated statistics, plus brief commentary on species mentioned but not treated fully.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'HomeIntro',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
  data() {
    return {
      drawer: true,
      clipped: false,
    };
  },
};
</script>

<style scoped>
  a {
    font-weight: bold;
  }

</style>
