<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Completeness of the County Level Maps</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>The number of species of vascular plants actually present in Michigan Counties ranges from approximately 1300 – 1700 in counties in the southern half of the Lower Peninsula, decreasing to about 1000 – 1200 in the northernmost Lower Peninsula and to generally less than 1000 in Upper Peninsula Counties.
            Variables like county area, habitat diversity, and substrate diversity influence the actual species diversity present, but by far the greatest amount of variability in the county totals presented here is due to the fact that species occurrences in counties are based only on existing herbarium specimens examined by the authors.
            Because collecting frequency varies widely from county to county, with counties that include or are near to Universities or Biological Stations being more thoroughly documented, while counties that are largely rural are much less studied, especially if they lack Great Lakes shorelines or other striking ecological features.
            Our most thoroughly documented counties in southernmost Michigan, for example, are Kalamazoo and Washtenaw, both with over 1600 species, Berrien Co. with over 1500 species recorded, and Kent, Lenawee, Oakland, and Wayne Cos. with over 1400 species.
            Conversely, largely rural Branch Co., also in southernmost Michigan, has only about 450 species noted, and many counties in the northern Lower Peninsula especially have fewer than 600 species.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'MapCompleteness',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>
  .nav-drawer {
    position: relative;
  }

</style>
