<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Acknowledgments</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>Recent collections from many people form the basis for this update, but collectors who have recently sent in particularly large numbers or especially helpful specimens include: Bill Brodovich, the late Fred and Roberta Case (especially Orchids), Allison Cusick (Lower Peninsula), Dave Dister (Mason Co.), Peter Fritsch (Hillsdale Co.), Russ and Deb Garlitz (mostly NE Lower Peninsula), Steve Garske (Upper Peninsula), Don Henson (Upper Peninsula), Emmet J. Judziewicz (Isle Royale), Carolyn Lyons (Newaygo and Oceana Cos.), Janet Marr (Upper Peninsula), Bill Martinus (SW Michigan), Ruth McFarlane, Will MacKinnon (Upper Peninsula), the late Bill Overlease (Benzie Co.), the late Bruce Parfitt and his students, especially Joshua Springer (Lapeer and Tuscola Cos.); Rich Rabeler (aliens), Steve Ross (Mecosta Co.), Russ Schipper (Kalamazoo Co.), Dan Skean (Calhoun and Hillsdale Cos.), Bob Smith (especially Lenawee Co.), Tim Walters, and Dennis Woodland and his students (Berrien Co., mostly). Dennis Albert, Elaine Chittenden, Steve Grund, Phyllis Higman, Ryan O’Connor, Mike Penskar, Brad Slaughter, and Tom Trana collected numerous interesting species while working for the Michigan Natural Features Inventory; Sue Trull and other botanists in the National Forests documented many interesting species occurring on National Forest lands. Many other individuals have sent collections over the years, often just of one or a few “special” plants they have found, and new state records they provided are acknowledged in the text. We are grateful to all of you, for without collections, work on floras and systematics would not be possible.</p>

          <p>Special thanks go to Bob Smith for carefully going through the text and contributing much information about plants, especially those in Lenawee Co., Paul Rothrock and Connie Crancer commented on the keys, and Paul Berry, Dan Brunton, Mike Oldham, Mike Penskar, Rich Rabeler, and Gerould Wilhelm offered many comments and contributed helpful information about species.</p>

          <p>Chris Anderson contributed a great deal of editorial help and Paul Berry institutional support for this project. Rachel Simpson helped implement the first version of a Michigan Flora website, and Kraig Korroch developed the current version. We also thank our student assistants, who worked though large quantities of data for seed plants and helped with many other items, especially Melissa Brockington, Diana Flora, Elizabeth Haber, Rachael Shaney and Andrea Slick. Melanie L. DeJoode, Karen M. Paelicke, and Cynthia M. Stanfield entered the data for Michigan Ferns and Kendra L. Walker and Mjere S. Simantel made large numbers of labels for unlabeled fern specimens in our backlog.</p>

          <p>A large number of botanists kindly helped with difficult groups, including Ihsan Al-Shehbaz (Brassicaceae), George Argus (<em>Salix</em>), Peter Ball (various groups), Burt Barnes (<em>Betula</em>), Paul Berry (<em>Euphorbia</em>), Paul Catling (Orchidaceae, <em>Pyrus</em>), Steve Darbyshire (<em>Festuca</em> and <em>Schedonorus</em>), Jim Eckenwalder (<em>Populus</em>), Barbara Ertter (<em>Potentilla</em>), Andrew Hipp (<em>Quercus</em>), Bob Kowal (<em>Packera</em>), John Nelson (<em>Stachys</em>), Jess Peirson (<em>Solidago</em>), Jim Phipps (<em>Crataegus</em>), Rich Rabeler (Caryophyllaceae), Joe Rohrer (<em>Prunus</em>), Rob Soreng (<em>Poa</em>), Justin Thomas (<em>Dichanthelium</em>), and Peter Zika (<em>Cotoneaster</em> and <em>Juncus</em>). Of course, too many botanists to mention have helped tremendously over the years with annotations of Michigan plants.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheAcknowledgments',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
