<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Aliens</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>Non-native species are a great concern for all biologists. Our flora is no exception. At this point, somewhat more than one third of our flora now is non-native (37%), and this number will increase, as will the proportion of these aliens that become problems in natural communities. We indicate those species collected outside of cultivation but thought to have been accidentally or purposely introduced from elsewhere in the world, along with notes about where the native area of the species is thought to be, as well as when it first was collected in the State as a wild plant.</p>

          <p>Our criteria for including an alien&nbsp;in the flora are several-fold, though flexible. First, it must be established outside of cultivation and outdoors in a literal sense. That is, the numerous seedlings of cultivated plants that may appear in private or public gardens or arboreta are not counted – only those that move beyond such managed settings to become established and spread, or are at least repeatedly introduced. We also require that species be able to persist in our climate. Transient occurrences of tropical perennials are generally not included as they cannot survive Michigan winters. Weeds of greenhouses are also explicitly excluded. Annuals that can regenerate from seeds are included. However, we have tried to be liberal – history shows us that the majority of species that have been introduced persist and many will increase, though this may not be obvious for decades.</p>

          <p>Very recently, we have seen a new source of non-native occurrences, species either not native to Michigan at all or very rare, but spreading from prairie plantings. In the case of rare native species, we have indicated which records are spread from plantings.</p>

          <p>In cases of doubt as to status or nativity, we provide a brief discussion. A number of species have both alien and native components, sometimes distinguishable, sometimes not. Even worse can be the problem of deciding when a casual collection of a garden plant represents an escape in the face of limited label data. In the case of specimens where we have considerable doubts about whether the occurrence truly represented an escape, we have mentioned the species briefly, usually in the introductory material to the genus. A list of these species is provided at the end of the section "The Information."</p>

          <p>In six cases where species have both native and alien components in Michigan, there is a strong reason for separately treating the native and alien components. This is often because the native component is state listed or the alien component is invasive, and such dual listing becomes especially practical if they can be distinguished by morphology or habitat. These species will therefore occur twice on lists resulting from searches. The species are:</p>

          <p>&nbsp;</p>

          <ul>
            <li><strong><em>Allium schoenoprasum</em></strong>, with a rare native of rocky shores, sometimes called var. <em>sibiricum</em>, and a widespread garden escape, var. <em>schoenoprasum</em></li>
            <li><strong><em>Echinacea purpurea</em></strong>, extirpated as a native, but often used in prairie plantings and present on roadsides and disturbed areas as an escape from cultivation</li>
            <li><strong><em>Symphoricarpos albus</em> var. <em>albus</em></strong>, widespread in natural areas, and <em>S. albus</em> var. <em>laevigatus</em>, local in disturbed habitats as an escape from cultivation</li>
            <li><strong><em>Myrica pensylvanica</em></strong>, rare in fens, but also spreading from plantings in uplands</li>
            <li><strong><em>Veronica beccabunga</em> var. <em>americana</em></strong>, and the rare alien var. <em>beccabunga</em></li>
            <li><strong><em>Phragmites australis</em> subsp. <em>americanus</em></strong>, native in fens, marshes, and shores and, most notoriously, the highly invasive <em>P. australis</em> subsp. <em>australis</em></li>
          </ul>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheAliens',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
