<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Taxonomic and Nomenclatural Changes</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>Family assignments for the Michigan Flora Online that differ from those of the three volume <em>Michigan Flora</em> are noted in the following list of <router-link :to="'family-changes'">genera in <em>Michigan Flora</em> whose family assignments have changed</router-link>. An additional table, <router-link :to="'flora-changes'">additions and name changes to <em>Michigan Flora</em></router-link>, is also available here, and this notes the fate of all names that have changed in this website from <em>Michigan Flora</em>, including additions to the flora.</p>

          <p>In addition to the fact that floras change, the scientific names of plants also change – and this can be a source of frustration to people learning plants. But rather than a frustration, especially now, this should be seen as a mark of great progress in achieving the goals of the science of plant systematics. While one can classify plants based on any arbitrary feature, such as flower color, and such classifications may have utility in certain areas (some wildflower guides, for example), plant systematists have always strived for a “natural” classification, one that reflects underlying evolutionary relationships, as such a classification has the strongest predictive power and the broadest utility. For generations of systematists, this has remained a distant and unattainable goal; however, we can now approach this goal much more closely. In fact, research in systematics and evolution of plants has undergone a revolution in the past few decades. This revolution has been driven by three main factors. The primary one is our ability to access the genome directly. The second is the development of mathematical techniques to derive phylogenetic trees and give the branching patterns of these trees statistical significance. The third is the development of powerful computers to perform these analyses.</p>

          <p>One important outcome of this new research is a much deeper and clearer understanding of relationships among plant genera, families, and even larger groups. Most especially this has affected our understanding of relationships among groups whose appearance has been so altered by a specialized lifestyle (such as parasites or aquatic plants) as to have their close relatives be unrecognizable. A consequence of this is that there are many changes in the Michigan Flora in family and generic assignments of familiar plants. These changes, however striking they may be initially, are mostly here to stay. They are based not on opinion or taxonomic “intuition” but on the genetic material of the plants, and are as direct a reflection of evolution as we are likely to attain in most groups of plants. While many plant groups remain to be studied in depth, the overall picture of the relationships among families especially (see <a href="http://www.mobot.org/mobot/research/apweb">www.mobot.org/mobot/research/apweb</a>), is achieving some measure of stability. Our family assignments generally follow the Angiosperm Phylogeny Group (APG) results, though there will be modest differences. Changes in assignments of plants to genera are also frequent, and, like changes in families, are here to stay for the most part, but at this level work is still far from complete.</p>

          <p>One element to consider with all these changes is that rather than being a baffling nuisance, these may offer fascinating insights into evolution. As one example, it has long been known that in addition to plants like Turtlehead (<em>Chelone glabra</em>), the caterpillars of Baltimore Checkerspot butterflies will sometimes feed on plantain. In this flora, that is no mystery – they are in the same family! It is yet another opportunity to learn new and interesting facets about our flora.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheChanges',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
