<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Ferns and Other Spore Bearing Vascular Plants</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>Unlike <em>Michigan Flora</em>, this website attempts to complete the coverage of vascular plants by including a treatment for the ferns and lycophytes in the same format as the seed plants. This treatment has been largely contributed by Robert E. Preston. Because there was no recent treatment of Michigan ferns available, this represents a first attempt at a comprehensive treatment, and we will be especially grateful for comments and additional records.</p>

          <p>To browse a list of all the ferns and other spore bearing vascular plants, you can search simultaneously on “Ad Fern, Nt Fern, &nbsp;Nt Fern Al” &nbsp;(Adventive Fern, Native Fern, Native Fern Ally) under Physiognomy in the search page.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheFerns',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
