<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">The Maps</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>The county-level dot maps in <em>Michigan Flora</em> Volumes 1-3 were based on specimens deposited in many herbaria.
            In some instances when species were “split,” there were some county records that were not assignable to species because it was often not possible to re-examine all specimens and sometimes because the characters needed to distinguish the entities were not present on all the collections.
            In these cases, there may be a net loss of records, although the overall distribution patterns will be clear. As with <em>Michigan Flora</em>, hybrids are not formally treated or mapped, except in special cases, as when a hybrid is the only element present (for example, with some escaped cultigens).
            Hybrids are, however, discussed if they are abundant or can be a complicating factor in recognition of species. We have also tried to note hybrids known from the state, though we have doubtless not been exhaustive.
            Species reported from Michigan for which substantiating specimens have not been traced are only mentioned when these reports postdate the publication of <em>Michigan Flora</em>.</p>

          <p>As in <em>Michigan Flora</em>, on rare occasions stated localities (even if precise) are on the county line but without an indication of the county in which the plant was collected.
            This is most common with lakes and towns straddling county lines. In such cases, a dot is placed straddling the county line, but only if the plant is otherwise not known from either county.</p>

          <p>Following the precedent of <em>Michigan Flora</em>, seven large islands or island clusters are mapped separately from their mainland counties.
            These are the Charity Islands (Arenac Co.), the Beaver Island group (Charlevoix Co.), Drummond Island (Chippewa Co.), the Isle Royale archipelago (Keweenaw Co.), The Fox Islands (Leelanau Co.), the Manitou Islands (Leelanau Co.), and Mackinac, Round, and Bois Blanc Islands (Mackinac Co.).
            This is either because of the intrinsic interest of the island, such as with Isle Royale, or because the island or island group belongs to a county that is not the closest either geographically or floristically, such as the Beaver Island group or the Charity Islands.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'TheMaps',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>


</style>
