<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">The Photos</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>It is our goal eventually to have images of all species, and ideally images representing various stages and structures of the plants.
            This is a long range goal, of course. A large proportion of the photos to start this project were digitized from the late W. H. (Herb) Wagner’s teaching collection of slides, with the support of the Clarence R. and Florence N. Hanes Trust Fund, and we feel that this use is a natural continuation of his love of teaching and his interest in the flora.
            When the photographer was identified, we have always obtained permission and given credit on the photo, but this information was not always included on the slides.
            Beyond that, we have tapped into our own photo collections, both slides and digital. Again, the photographers or sources are credited.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'ThePhotos',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
