<template>
  <v-container fluid class="ma-0 pa-0">
    <NavTop />
    <v-row class="mt-8"></v-row>
    <v-content class="mt-12">
      <v-row class="mt-12">
        <v-col lg="3" md="1" cols="1">
          <!-- Fills extra space in the row -->
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-12 text-justify">
          <p :class="{'display-1': $vuetify.breakpoint.lgAndUp, 'headline': $vuetify.breakpoint.mdAndDown}">Contributing to the Website</p>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col lg="3" md="1" cols="1">
          <NavDrawer />
        </v-col>
        <v-col cols="10" lg="8" sm="10" class="mt-4 text-justify">
          <p>Floras are ever changing, and information about them is never complete. One important way that individuals can help keep the flora as current as possible is to document species that are not mapped from their area. We cannot map reports that are not backed by documentation, so this means collecting and labeling a specimen. A well collected and documented specimen can be of lasting benefit to science, so it can be an important contribution even if it is some effort. The “how to” of collecting specimens can be found in a number of sources, especially textbooks on plant systematics, but in a nutshell, proper plant collections should contain the diagnostic portions needed for identification, usually flowers or fruit, and be as complete as possible; entire plants, including underground parts in the case of smaller plants, significant portions of the stem, in the case of large herbs, and substantial twigs in the case of woody plants. The plants should be folded or otherwise laid out in a folded newspaper to fit on and comfortably fill up a ca. 30 × 42 cm (11 ½ ×16 ½ in) area, pressed flat in a plant press or suitable substitute, and dried while being pressed. In the case of large plants where a complete specimen could not be made, supplemental notes should be made to go onto the label, especially about the size of the plant, the nature of the underground parts, and the growth habit. In many cases, collecting can be done without detriment to individuals, and it is often possible to collect entire plants without damaging populations, but care must always be taken not to collect entire plants when the population is very small. If it is a particularly unusual record, appropriate diagnostic portions of the plant only may be gathered, supplemented by photos. Accompanying the plant should be a label with information about the collection: Locality including ideally GPS coordinates, but also distance and direction from a place readily found on a common road map, as well as road names and also township, range and section, if available; habitat – a general description of the plant community and site; notes, including plant characteristics that may not preserve well, such as color or odor, as well as information about the abundance and local distribution of the species, plus the precise date collected, name of the collector, and, if you are planning to collect more items, a sequential number as a unique identifier. Proper labeling of specimens is thoroughly discussed in: Voss, E. G. 1999. <a href="http://quod.lib.umich.edu/cgi/t/text/pageviewer-idx?c=mbot;cc=mbot;view=image;seq=00000001;idno=0497763.0038.402;didno=0497763.0038.402" target="_self">Labeling of Herbarium Specimens</a>. Michigan Botanist 38: 57-63.</p>

          <p>Of course, one must always have permission, and any necessary permits, when collecting plant specimens.</p>

          <p>We still need images for a large number of plants, and so would be grateful to receive images that we can use on the site to illustrate additional species or aspects of species. Particularly helpful are images depicting less frequently illustrated portions of plants – fruits, underground parts, buds, etc. Ideally, we would prefer them in digital form.</p>
        </v-col>
      </v-row>
    </v-content>
    <TheFooter />
  </v-container>
</template>

<script>
import NavTop from '@/components/NavTop.vue';
import NavDrawer from '@/components/NavDrawer.vue';
import TheFooter from '@/components/TheFooter.vue';

export default {
  name: 'ToContribute',
  components: {
    NavTop,
    NavDrawer,
    TheFooter,
  },
};
</script>

<style scoped>

</style>
