<template>
  <v-container class="mt-12">
    <v-content>
      <v-row>
        <v-col cols="12">
          <v-toolbar dark color="primary">
            <v-btn class="mr-8" small light v-on:click="$emit('formReset')">Refresh</v-btn>
            <v-toolbar-title class="white--text hidden-xs-only">Specimen Results</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-text-field v-model="search" append-icon="mdi-search" color="#fafafa" label="Search" single-line hide-details></v-text-field>
          </v-toolbar>
        </v-col>
      </v-row>
      <v-row v-resize="onResize">
        <v-col>
          <v-row>
            <p class="count ml-5" v-if="isMobile">Records: {{ results.length }}</p>
            <p class="count ml-5" v-else>Records returned: {{ results.length }}</p>
            <v-spacer/>
            <download-excel
              class="download mr-5"
              :data='results'>
              Download Results
              <v-icon>mdi-download</v-icon>
            </download-excel>
          </v-row>
          <v-data-table :mobile-breakpoint="NaN" :headers="headers" :items="results" :search="search" :pagination.sync="pagination" :hide-default-header="true">
            <template v-slot:item="props">
              <tr>
                <td>
                  <div class="table-content">
                    <v-card class="table-item text-left">
                      <p class="table-item"><span :class="{'title': $vuetify.breakpoint.mdAndUp, 'subtitle-1': $vuetify.breakpoint.smAndDown}" class="font-weight-bold"><em>{{ props.item.scientific_name }}</em> - {{ props.item.family }}</span> <br>
                        <span>{{ props.item.collectors }}, {{ props.item.collectors_number }}, Collected {{ props.item.collection_date }}.</span> <br>
                        <span>{{ props.item.location_data }}</span> <br>
                        <span>MICH{{ props.item.catalog_data }}</span><br>
                        <br>
                        <router-link :to="{ path: `/specimen-record/` + props.item.identity }"><span class="link">View Full Record</span></router-link>
                      </p>
                    </v-card>
                  </div>
                </td>
              </tr>
            </template>
           </v-data-table>
        </v-col>
      </v-row>
    </v-content>
  </v-container>
</template>

<script>
export default {
  name: 'SpecimenResults',
  props: {
    results: {
      type: Array,
    },
  },
  data: () => ({
    pagination: {
      sortBy: 'name',
      rowsPerPage: 10,
    },
    search: '',
    isMobile: false,
    headers: [
      { text: 'Catalog', value: 'catalog_number' },
      { text: 'Scientific Name', value: 'scientific_name' },
      { text: 'Family', value: 'family' },
      { text: 'Collectors', value: 'collector' },
      { text: 'Collector\'s Number', value: 'collectors_number' },
      { text: 'Date Collected', value: 'collection_date' },
      { text: 'Location', value: 'location_data' },
      { text: 'Record', value: '' },
    ],
  }),
  methods: {
    onResize() {
      this.isMobile = window.innerWidth < 1264;
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
  },
};
</script>

<style scoped>
  .mobile {
    color: #333;
  }

  .v-data-table__wrapper table tbody tr {
    max-width: 100%;
    position: relative;
    display: block;
  }

  .v-data-table__wrapper table tbody tr:nth-child(odd) {
    border-left: 6px solid #00274c;
  }

  .v-data-table__wrapper table tbody tr:nth-child(even) {
    border-left: 6px solid #b0bec5;
  }

  .v-data-table__wrapper table tbody tr td {
    display: block;
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
    height: auto;
    padding: 10px;
  }

  .v-data-table__wrapper table tbody tr td ul li:before {
    content: attr(data-label);
    padding-right: .5em;
    text-align: left;
    display: block;
    color: #999;

  }

  .table-content {
    padding: 0px;
    margin: 0;
    list-style: none;
    display: block;
  }

  .table-item {
    padding: 5px;
    width: 100%;
    height: auto;
    font-weight: bold;
  }

  .link {
    text-decoration: underline;
    cursor: pointer;
  }

  .count {
    display: flex;
    justify-content: flex-start;
  }

  .download {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }


</style>
